docs/n8n-workflow.json
{
  "name": "LeadsForward \u2013 AI Content Orchestrator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "leadsforward-website-manifester",
        "responseMode": "onReceived",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -420,
        0
      ],
      "id": "c9d1af29-5c3d-46ab-b10c-9001b9cf27fe",
      "name": "Webhook",
      "webhookId": "3fe24f65-109d-4afd-906d-73c5115761df"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.body && $json.body.research_document ? true : ($json.research_document ? true : false)}}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -150,
        -160
      ],
      "id": "7f7b7d63-6f42-4d59-9db1-7a4f1f593c1e",
      "name": "Research Document Gate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json}}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a senior SEO strategist, CRO specialist, and competitive intelligence analyst.\n\nConduct deep research for the following project and return ONLY valid JSON matching the required schema.\n\nINPUT:\nBusiness name\nNiche\nPrimary city\nTarget services\nTarget service areas (if provided)\n\nRESEARCH OBJECTIVES:\nIdentify top 5 local competitors (organic + map pack).\nExtract content structure patterns from top-ranking sites.\nIdentify messaging gaps and overused patterns.\nExtract differentiators.\nDetermine conversion positioning strategy.\nIdentify tone patterns that appear human and authoritative.\nIdentify semantic keyword clusters.\nIdentify trust signal patterns.\nIdentify objections and FAQ angles.\nIdentify content weaknesses to exploit.\n\nOUTPUT FORMAT (STRICT JSON):\n{\n  \"brand_positioning\": {\n    \"market_angle\": \"\",\n    \"primary_differentiator\": \"\",\n    \"secondary_differentiators\": [],\n    \"authority_positioning\": \"\",\n    \"local_positioning_strategy\": \"\"\n  },\n  \"competitor_analysis\": [\n    {\n      \"competitor_name\": \"\",\n      \"strengths\": [],\n      \"weaknesses\": [],\n      \"content_patterns\": [],\n      \"seo_patterns\": []\n    }\n  ],\n  \"conversion_strategy\": {\n    \"primary_cta_style\": \"\",\n    \"emotional_drivers\": [],\n    \"trust_elements_required\": [],\n    \"risk_reduction_elements\": []\n  },\n  \"voice_guidelines\": {\n    \"tone\": \"\",\n    \"sentence_style\": \"\",\n    \"avoid_phrases\": [],\n    \"preferred_phrases\": [],\n    \"reading_level_target\": \"\"\n  },\n  \"seo_strategy\": {\n    \"primary_keyword_clusters\": [],\n    \"semantic_entities\": [],\n    \"supporting_topics\": [],\n    \"internal_linking_angles\": []\n  },\n  \"faq_strategy\": {\n    \"objection_clusters\": [],\n    \"high_intent_questions\": [],\n    \"authority_questions\": []\n  },\n  \"image_strategy\": {\n    \"recommended_image_types\": [],\n    \"placement_guidelines\": [],\n    \"alt_text_style\": \"\"\n  },\n  \"content_expansion_guidelines\": {\n    \"homepage_depth_strategy\": \"\",\n    \"service_page_depth_strategy\": \"\",\n    \"service_area_localization_strategy\": \"\"\n  }\n}\n\nReturn JSON only."
            },
            {
              "type": "HumanMessagePromptTemplate",
              "message": "INPUT:\nBusiness name: {{$json.business_name}}\nNiche: {{$json.niche}}\nPrimary city: {{$json.city_region}}\nTarget services: {{$json.keywords && $json.keywords.secondary ? $json.keywords.secondary : []}}\nTarget service areas: {{$json.business_entity && $json.business_entity.service_areas ? $json.business_entity.service_areas : []}}\n\nReturn JSON only."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        150,
        -200
      ],
      "id": "3c7b4b0c-8b36-4f3a-9e8f-1c02d5a13c9c",
      "name": "Research Generator"
    },
    {
      "parameters": {
        "jsCode": "// Store research document globally for this execution\nconst raw = $json || {};\n\nfunction pickRaw(input) {\n  if (typeof input === \"string\") return input;\n  if (!input || typeof input !== \"object\") return \"\";\n  if (typeof input.text === \"string\") return input.text;\n  if (typeof input.response === \"string\") return input.response;\n  if (typeof input.output === \"string\") return input.output;\n  if (typeof input.content === \"string\") return input.content;\n  if (input.message && typeof input.message === \"object\") {\n    if (typeof input.message.content === \"string\") return input.message.content;\n  }\n  return \"\";\n}\n\nlet research = {};\ntry {\n  const rawText = pickRaw(raw) || JSON.stringify(raw);\n  const parsed = JSON.parse(rawText);\n  if (parsed && typeof parsed === \"object\") {\n    research = parsed;\n  }\n} catch (e) {\n  research = {};\n}\n\nconst workflowData = $getWorkflowStaticData('global');\nworkflowData.research_document = research;\n\nconst payload = $node[\"Webhook\"].json.body ?? $node[\"Webhook\"].json;\nconst out = {\n  ...payload,\n  research_document: research\n};\n\nfunction buildProgressUrl(payload) {\n  const callbackUrl = payload.callback_url || (payload.body ? payload.body.callback_url : \"\");\n  if (!callbackUrl) return \"\";\n  return callbackUrl.replace('/orchestrator', '/progress');\n}\n\nfunction sendProgress(payload, percent, step, message) {\n  const progressUrl = buildProgressUrl(payload);\n  const jobId = payload.job_id || (payload.body ? payload.body.job_id : null);\n  const requestId = payload.request_id || payload.body?.request_id || \"\";\n  const runPhase = payload.run_phase || payload.body?.run_phase || \"initial\";\n  if (!progressUrl || !jobId || !requestId) {\n    return Promise.resolve();\n  }\n  return this.helpers.httpRequest({\n    method: 'POST',\n    url: progressUrl,\n    json: true,\n    body: {\n      job_id: jobId,\n      request_id: requestId,\n      status: 'running',\n      percent,\n      step: step || '',\n      message: message || '',\n      run_phase: runPhase\n    }\n  }).then(() => null).catch(() => null);\n}\n\nreturn sendProgress(out, 25, 'Research ready', 'Research generated').then(() => [{ json: out }]);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        380,
        -200
      ],
      "id": "9c2f1c52-6f2f-4c67-9a63-2d4a4e0a9b6f",
      "name": "Store Research Document"
    },
    {
      "parameters": {
        "jsCode": "// Use provided research document from payload\nconst payload = $json.body ?? $json;\nconst provided = payload.research_document || (payload.body ? payload.body.research_document : {}) || {};\nconst research = (provided && typeof provided === \"object\") ? provided : {};\n\nconst workflowData = $getWorkflowStaticData('global');\nworkflowData.research_document = research;\n\nconst out = {\n  ...payload,\n  research_document: research\n};\n\nfunction buildProgressUrl(payload) {\n  const callbackUrl = payload.callback_url || (payload.body ? payload.body.callback_url : \"\");\n  if (!callbackUrl) return \"\";\n  return callbackUrl.replace('/orchestrator', '/progress');\n}\n\nfunction sendProgress(payload, percent, step, message) {\n  const progressUrl = buildProgressUrl(payload);\n  const jobId = payload.job_id || (payload.body ? payload.body.job_id : null);\n  const requestId = payload.request_id || payload.body?.request_id || \"\";\n  const runPhase = payload.run_phase || payload.body?.run_phase || \"initial\";\n  if (!progressUrl || !jobId || !requestId) {\n    return Promise.resolve();\n  }\n  return this.helpers.httpRequest({\n    method: 'POST',\n    url: progressUrl,\n    json: true,\n    body: {\n      job_id: jobId,\n      request_id: requestId,\n      status: 'running',\n      percent,\n      step: step || '',\n      message: message || '',\n      run_phase: runPhase\n    }\n  }).then(() => null).catch(() => null);\n}\n\nreturn sendProgress(out, 20, 'Research ready', 'Research provided').then(() => [{ json: out }]);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        150,
        0
      ],
      "id": "d2a1c4e0-8d64-4c4e-9c6f-1f8a9b2e3c4d",
      "name": "Use Provided Research"
    },
    {
      "parameters": {
        "jsCode": "const webhook = $json || {};\nconst defaultCallbackUrl = \"http://localhost:10008/wp-json/leadsforward/v1/orchestrator\";\nconst callbackUrl = webhook.callback_url || webhook.body?.callback_url || defaultCallbackUrl;\nconst callbackAuthHeader = (webhook.body ?? webhook).callback_authorization || webhook.headers?.authorization || webhook.headers?.Authorization || \"\";\n\nreturn [{\n  json: {\n    ok: true,\n    request_id: \"callback-test\",\n    updates: [],\n    callback_url: callbackUrl,\n    callback_auth_header: callbackAuthHeader,\n    callback_payload: {\n      payload: JSON.stringify({\n        ok: true,\n        request_id: \"callback-test\",\n        updates: [],\n        callback_url: callbackUrl\n      })\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        240
      ],
      "id": "b2f4b1c6-9b41-4a6a-9b3d-7a8d2e7e8a11",
      "name": "Callback Test Payload",
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{$json.callback_url}}",
        "method": "POST",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{$json.callback_auth_header}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "payload",
              "value": "={{$json.callback_payload?.payload || JSON.stringify($json)}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        0,
        240
      ],
      "id": "d9d1e0e6-1c71-4a69-bd7b-4c2e5f4f9c33",
      "name": "Callback Test Request",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json}}",
        "messages": {
          "messageValues": [
            {
              "message": "You are LeadsForward\u2019s deterministic website content engine.\n\nYou MUST output ONLY valid JSON that matches the required schema. No markdown. No commentary. No extra keys unless explicitly allowed.\n\nINPUT SHAPE\nYou will receive a JSON object with:\n- request_id, variation_seed, business_name, niche, city_region, keywords, writing_samples, business_entity\n- primary_keyword (string), secondary_keywords (array), style_profile (object)\n- system_message (optional), faq_strategy (optional), cta_strategy (optional), global_faq_pool (optional)\n- research_context (optional)\n- page_type\n- blueprint_index\n- blueprint (ONE page blueprint only)\n\nPRIORITY OVERRIDE\n0) If input.system_message is present, follow it exactly. If it conflicts with any instruction here, input.system_message wins.\n0b) If input.retry_instructions is present, fix every item and rewrite the page from scratch with no reused sentences.\n\nCRITICAL RULES (NON-NEGOTIABLE)\n1) Use ONLY niche = input.niche. Never introduce any other niche/service type.\n2) Use ONLY location = input.city_region. Never introduce any other city/region.\n3) Use ONLY business name = input.business_name.\n4) NEVER reuse content from previous runs or \u201ctypical examples\u201d.\n5) Generate content ONLY for input.blueprint (single page). Do not generate for other pages.\n6) Do not invent sections/fields. Write ONLY to keys that appear in blueprint.sections[].allowed_field_keys.\n7) If blueprint provides section_label, intent, purpose, field_labels, or field_types, use them to shape content for that section.\n7) For every section instance, write dot-notation fields using:\n   - Use blueprint.sections[].section_id as the prefix (example: \"hero.hero_headline\" or \"hero-1.hero_headline\").\n8) Write values for EVERY allowed_field_keys in EVERY section. Do not skip keys.\n9) List fields must be newline-delimited strings (not arrays).\n10) No placeholder text, no \u201cPortland\u201d, no \u201ccrawl space\u201d, no \u201clandscaping\u201d unless niche explicitly matches.\n10b) Avoid these generic phrases: \"delivers tailored solutions\", \"clear communication, clean execution\", \"long-lasting results\", \"fast response and clear pricing\", \"upfront pricing before work starts\", \"trusted local team\".\n11) HTML is allowed only inside richtext fields (use <p>, <ul>, <li>, <a>). All other fields must be plain text.\n12) Minimum total content: every page must contain at least 1000 words of unique body copy across all text/richtext fields. Expand each section with depth; do not pad with fluff or repetition.\n13) Always echo input.page_type as \"page_type\" in your output JSON. Hero headline must be unique per page and should incorporate blueprint.page_title or service/service_area context. Avoid the phrase \"in your area\" unless page_type is \"service_area\".\n14) CTA supporting text: for every CTA section, cta_subheadline_secondary must be exactly ONE sentence, non-empty, and unique across pages. Make it specific using page_type, primary_keyword, business_name, or city_region.\n15) CTA headline/subheadline: you MAY write cta_headline and cta_subheadline for every page. Make them unique per page and aligned to page_type.\n16) You MUST include a top-level \"meta\" object with primary_keyword, secondary_keywords, style_profile_id, business_name, and city_region echoed from input.\n17) Every section heading + intro field must be non-empty and unique across pages.\n17b) NEVER repeat the same sentence or paragraph anywhere within the page. If two sections sound similar, rewrite one completely.\n17c) Use blueprint.page_title and blueprint.sections[].section_id to keep headings distinct; do NOT reuse the hero headline in any other section.\n17d) City/region can appear at most ONCE per page (hero preferred). All other headings must avoid repeating the city.\n17e) CTA headline/subheadline must be unique per page and must not repeat the hero wording.\n18) Benefits section: write 3 lines in benefits_items using \"Title || Body\". Title <= 5 words; Body 10-14 words.\n19) Hero proof list: hero_proof_bullets must be exactly 3 lines, 3-5 words each, no punctuation.\n20) Process section: include process_steps (4-6 steps) and process_expectations (3-4 items) when allowed. For service pages, steps must reference the specific service but align with the core process.\n21) Related links section: intro must be service-only language (no areas).\n21b) Related links section has NO list field; do NOT output related_links_list.\n22) If any allowed field would be empty, generate a concise sentence using primary_keyword, business_name, or city_region.\n23) Process steps must use \"Title: description\" format for every line.\n24) For service/service_area pages, hero_headline must include the primary_keyword and a benefit/outcome (not just the location).\n25) For service_area pages, ensure content_image/image_content sections include unique section_heading, section_intro, and section_body.\n26) Service pages must include a 20-28 word overview sentence in hero_subheadline or section_intro to populate service intro cards.\n27) Internal linking: include 1-2 internal links in richtext fields using internal_links list. Use <a href=\"URL\">Label</a>. Do not invent URLs.\n\nQUALITY OBJECTIVES (DO NOT BREAK JSON RULES)\n- Human-sounding: vary sentence length and rhythm; avoid templated phrasing and cliches (\"We understand\", \"At [Company]\", \"In today's world\").\n- Sales-focused: emphasize outcomes, credibility, and next steps for homeowners; avoid fluff.\n- Local SEO: include the primary keyword naturally in the hero headline or subheadline; work in 1\u20132 secondary keywords across the page when appropriate; avoid keyword stuffing.\n- Uniqueness: no repeated sentences across page types; phrasing should feel custom to this business and location.\n- Use writing_samples (if provided) to match tone and diction, but never copy sentences verbatim.\n\nRESEARCH CONTEXT GUIDANCE\n- If research_context exists: Apply positioning and differentiation.\n- Use SEO entity strategy.\n- Avoid competitor phrasing.\n- Apply voice guidelines.\n- Use FAQ strategy angles.\n- Use content expansion depth guidance.\n\nTARGET ROUTING\n- If blueprint.page == \"homepage\": target=\"options\", id=\"homepage\"\n- If blueprint.page in [\"service\",\"service_area\",\"services_overview\",\"service_areas_overview\",\"about\",\"contact\",\"reviews\",\"blog\",\"sitemap\",\"privacy\",\"terms\",\"thank_you\",\"post\"]: target=\"post_meta\", id=blueprint.post_id\n- FAQ creation is REQUIRED when blueprint.faq_target_count or blueprint.faq_target_range is present:\n  - If faq_target_count exists: generate EXACTLY that many updates\n  - If faq_target_range exists: generate between min and max (inclusive)\n  - Return updates with target=\"faq\" and fields: question, answer (answers must be valid HTML <p>...</p>)\n\nCONTENT QUALITY RULES\n- Must match niche + location + business name everywhere.\n- Service pages must match the specific service title/slug for that post (use blueprint context only).\n- Avoid generic filler. Use concrete benefits, process, trust signals appropriate for the niche.\n\nOUTPUT FORMAT (EXACT)\nReturn JSON:\n{\n  \"ok\": true,\n  \"request_id\": \"<same request_id>\",\n  \"page_type\": \"<echo input.page_type>\",\n  \"meta\": {\n    \"primary_keyword\": \"<echo input.primary_keyword>\",\n    \"secondary_keywords\": <echo input.secondary_keywords>,\n    \"style_profile_id\": \"<echo input.style_profile.id>\",\n    \"business_name\": \"<echo input.business_name>\",\n    \"city_region\": \"<echo input.city_region>\"\n  },\n  \"updates\": [\n    { \"target\": \"...\", \"id\": \"...\", \"fields\": { \"section.field\":\"value\" } }\n  ]\n}\n"
            },
            {
              "type": "HumanMessagePromptTemplate",
              "message": "THEME SYSTEM MESSAGE (must follow if present):\n{{$json.system_message}}\n\nSTRATEGIES (if present):\nfaq_strategy={{$json.faq_strategy}}\ncta_strategy={{$json.cta_strategy}}\n\nRESEARCH CONTEXT (if present):\n{{$json.research_context}}\n\nSTYLE PROFILE:\n{{$json.style_profile}}\n\nPAGE FACTS (use in real sentences; never echo these as variable names or ALL_CAPS tokens):\n- business_name: {{$json.business_name}}\n- niche: {{$json.niche}}\n- city_region: {{$json.city_region}}\n- primary_keyword_for_seo: {{$json.primary_keyword}}\n- secondary_keywords: {{$json.secondary_keywords}}\n\nHOMEPAGE OPTIONS ROW: When emitting target \"options\" with id \"homepage\", field keys MUST match the theme registry (e.g. hero.hero_headline, hero.hero_subheadline, service_intro.*). Never use numbered pseudo-sections like hero-1.* or intro-1.* for options/homepage.\n\nFORBIDDEN in customer-facing copy: the literal strings PRIMARY_KEYWORD, BUSINESS_NAME, CITY_REGION, NICHE_TOKEN, or \"[Your City]\" as placeholders. Replace with real values above.\n\nFAQ REQUIREMENT: If the blueprint includes faq_target_count or faq_target_range, output that many updates with target \"faq\" and fields question + answer (answer must be HTML wrapped in <p> tags). Answers must be specific to this business and location.\n\nBLUEPRINT + PAYLOAD (this page only):\n{{$json}}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        950,
        0
      ],
      "id": "02e029ed-c3b2-421b-80d9-305df082453f",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2-chat-latest",
          "mode": "list",
          "cachedResultName": "gpt-5.2-chat-latest"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 8000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        950,
        200
      ],
      "id": "fab4c233-c3fc-4a6f-b1be-9e00ce992c08",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2-chat-latest",
          "mode": "list",
          "cachedResultName": "gpt-5.2-chat-latest"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 8000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        150,
        -340
      ],
      "id": "9f7a7d5b-4f4d-4bdf-9f7f-3fe1e6536cf8",
      "name": "OpenAI Chat Model (Research)",
      "credentials": {
        "openAiApi": {
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge Blueprint Results + Deterministic FAQ Enforcement (STATELESS)\n// IMPORTANT: Code node must be set to \"Run Once for All Items\"\n\nconst items = $input.all();\n\n// If upstream returned a single error item, just pass it through\nif (items.length === 1 && items[0]?.json?.ok === false) {\n  return items;\n}\n\n// Basic validation\nif (!items.length) {\n  return [{ json: { ok: false, status: 500, error: \"No items received to merge\" } }];\n}\n\nconst first = items[0].json || {};\nconst request_id = first.request_id || null;\n\n// ------------------------------\n// Helpers\n// ------------------------------\nfunction normalizeText(value) {\n  return String(value || \"\")\n    .toLowerCase()\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction ensureParagraph(answer) {\n  const trimmed = String(answer || \"\").trim();\n  if (!trimmed) return \"\";\n  if (/<p[\\s>]/i.test(trimmed)) {\n    return trimmed;\n  }\n  return `<p>${trimmed}</p>`;\n}\n\n// ------------------------------\n// 1) Normalize FAQ answers (ensure <p>)\n// ------------------------------\nfor (const it of items) {\n  const j = it.json || {};\n  if (!j.ok || !Array.isArray(j.updates)) continue;\n\n  for (const update of j.updates) {\n    if (update?.target !== \"faq\") continue;\n    const fields = update?.fields ?? update?.data ?? {};\n    if (!fields || typeof fields !== \"object\") continue;\n    if (typeof fields.question === \"string\") {\n      fields.question = String(fields.question).trim();\n    }\n    if (typeof fields.answer === \"string\") {\n      fields.answer = ensureParagraph(fields.answer);\n    }\n    update.fields = fields;\n  }\n}\n\n// ------------------------------\n// 2) Enforce unique CTA supporting sentences across pages\n// ------------------------------\nconst ctaDescriptorByPageType = {\n  homepage: \"your project\",\n  service: \"this service\",\n  service_area: \"local service\",\n  services_overview: \"our services\",\n  service_areas_overview: \"coverage in your area\",\n  about: \"working with our team\"\n};\n\nconst ctaVariants = [\n  (desc) => `Get a fast, local response about ${desc}.`,\n  (desc) => `Talk with a specialist about ${desc} today.`,\n  (desc) => `Schedule a quick, no-pressure walkthrough for ${desc}.`,\n  (desc) => `Get clear timing and next steps for ${desc}.`,\n  (desc) => `Plan ${desc} with a trusted local team.`,\n  (desc) => `Get answers and a simple plan for ${desc}.`,\n  (desc) => `Start with a fast estimate for ${desc}.`,\n  (desc) => `Lock in a convenient window for ${desc}.`\n];\n\nfunction buildCtaSupport(pageType, seed) {\n  const desc = ctaDescriptorByPageType[pageType] || \"your project\";\n  const idx = Math.abs(seed) % ctaVariants.length;\n  return ctaVariants[idx](desc);\n}\n\nconst ctaSeen = new Set();\n\nitems.forEach((it, itemIndex) => {\n  const j = it.json || {};\n  if (!j.ok || !Array.isArray(j.updates)) return;\n\n  const pageType = j.page_type || null;\n\n  for (const update of j.updates) {\n    const fields = update?.fields;\n    if (!fields || typeof fields !== \"object\") continue;\n\n    for (const key of Object.keys(fields)) {\n      if (!key.endsWith(\".cta_subheadline_secondary\")) continue;\n\n      const raw = typeof fields[key] === \"string\" ? fields[key].trim() : \"\";\n      let normalized = normalizeText(raw);\n\n      if (pageType !== \"homepage\" && (!raw || ctaSeen.has(normalized))) {\n        let attempt = 0;\n        let candidate = \"\";\n        let candidateNorm = \"\";\n        do {\n          candidate = buildCtaSupport(pageType, itemIndex + attempt + 1);\n          candidateNorm = normalizeText(candidate);\n          attempt += 1;\n        } while (candidateNorm === \"\" || ctaSeen.has(candidateNorm));\n        fields[key] = candidate;\n        normalized = candidateNorm;\n      }\n\n      if (normalized !== \"\") {\n        ctaSeen.add(normalized);\n      }\n    }\n  }\n});\n\n// ------------------------------\n// 3) Merge all updates into one response payload\n// ------------------------------\nconst failureNotes = [];\nfor (const it of items) {\n  const j = it.json || {};\n  if (j.ok === false) {\n    const pageType = j.page_type || 'unknown';\n    const err = String(j.error || 'unknown_error');\n    const detail = String(j.details || '').trim();\n    failureNotes.push(\n      detail\n        ? `page_type=${pageType}: ${err} (${detail})`\n        : `page_type=${pageType}: ${err}`\n    );\n  }\n}\n\nconst mergedUpdates = [];\nfor (const it of items) {\n  const j = it.json || {};\n  if (j.ok && Array.isArray(j.updates)) {\n    mergedUpdates.push(...j.updates);\n  }\n}\n\nconst mergeOk = mergedUpdates.length > 0;\n\nreturn [{\n  json: mergeOk\n    ? {\n        ok: true,\n        request_id,\n        updates: mergedUpdates,\n      }\n    : {\n        ok: false,\n        request_id,\n        error: 'No updates produced from blueprint merge (all branches empty or failed).',\n        quality_warnings: failureNotes.length\n          ? failureNotes\n          : ['No successful blueprint updates to merge.'],\n        updates: [],\n      },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2720,
        0
      ],
      "id": "fa4077b7-e929-4af0-a80c-b44420cf4577",
      "name": "Deterministic FAQ Enforcement"
    },
    {
      "parameters": {
        "jsCode": "function pickRaw(input) {\n  if (typeof input === \"string\") return input;\n  if (typeof input?.text === \"string\") return input.text;\n  if (typeof input?.output === \"string\") return input.output;\n  if (typeof input?.response === \"string\") return input.response;\n  if (typeof input?.data?.text === \"string\") return input.data.text;\n  if (typeof input?.message?.content === \"string\") return input.message.content;\n  return input;\n}\n\nfunction deepClean(value) {\n  if (typeof value === \"string\") {\n    return value.split(String.fromCharCode(13)).join(String.fromCharCode(10));\n  }\n  if (Array.isArray(value)) return value.map(deepClean);\n  if (value && typeof value === \"object\") {\n    const cleaned = {};\n    for (const key in value) cleaned[key] = deepClean(value[key]);\n    return cleaned;\n  }\n  return value;\n}\n\nfunction stripHtml(value) {\n  return String(value || \"\")\n    .replace(/<[^>]*>/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction trimToWords(value, maxWords) {\n  const text = stripHtml(value);\n  if (!text) return \"\";\n  const words = text.split(/\\s+/);\n  if (words.length <= maxWords) return words.join(\" \");\n  return words.slice(0, maxWords).join(\" \");\n}\n\nfunction findPostMetaId(updates) {\n  const hit = updates.find(u => u?.target === \"post_meta\" && u?.id);\n  return hit?.id || null;\n}\n\nfunction pickShortDesc(updates) {\n  const suffixes = [\n    \".hero_subheadline\",\n    \".hero_supporting_text\",\n    \".section_intro\",\n    \".section_body\",\n    \".section_body_secondary\",\n  ];\n  for (const update of updates) {\n    const fields = update?.fields;\n    if (!fields || typeof fields !== \"object\") continue;\n    const keys = Object.keys(fields);\n    for (const suffix of suffixes) {\n      const key = keys.find(k => k.toLowerCase().endsWith(suffix));\n      if (!key) continue;\n      const value = trimToWords(fields[key], 28);\n      if (value) return value;\n    }\n  }\n  return \"\";\n}\n\nfunction parseJsonSafely(raw) {\n  if (typeof raw !== \"string\") return { ok: true, value: raw };\n\n  const candidates = [];\n  const trimmed = raw.trim();\n  candidates.push(trimmed);\n\n  const fence = trimmed.match(/```(?:json)?\\s*([\\s\\S]*?)\\s*```/i);\n  if (fence && fence[1]) candidates.push(fence[1].trim());\n\n  const firstBrace = trimmed.indexOf(\"{\");\n  const lastBrace = trimmed.lastIndexOf(\"}\");\n  if (firstBrace >= 0 && lastBrace > firstBrace) {\n    candidates.push(trimmed.slice(firstBrace, lastBrace + 1));\n  }\n\n  const repaired = trimmed.replace(/,\\s*}/g, \"}\").replace(/,\\s*]/g, \"]\");\n  candidates.push(repaired);\n\n  let lastError = null;\n  for (const candidate of candidates) {\n    try {\n      return { ok: true, value: JSON.parse(candidate) };\n    } catch (e) {\n      lastError = e;\n    }\n  }\n\n  return { ok: false, error: String(lastError?.message || \"Unable to parse JSON\") };\n}\n\n\nfunction substituteTemplateTokens(str, ctx) {\n  if (typeof str !== \"string\" || !str) return str;\n  const biz = String(ctx.business_name || \"\").trim();\n  const pk = String(ctx.primary_keyword || ctx.keywords?.primary || \"\").trim();\n  const city = String(ctx.city_region || ctx.city || \"\").trim();\n  const niche = String(ctx.niche || \"\").trim();\n  let out = str;\n  if (pk) {\n    out = out.split(\"PRIMARY_KEYWORD\").join(pk);\n  }\n  if (biz) {\n    out = out.split(\"BUSINESS_NAME\").join(biz);\n  }\n  if (city) {\n    out = out.split(\"CITY_REGION\").join(city);\n    out = out.split(\"[Your City]\").join(city);\n  }\n  if (niche) {\n    out = out.split(\"NICHE_TOKEN\").join(niche);\n  }\n  return out;\n}\n\nfunction substituteUpdatesTokens(updates, ctx) {\n  if (!Array.isArray(updates)) return updates;\n  return updates.map((u) => {\n    const next = { ...u };\n    const fields = next.fields && typeof next.fields === \"object\" ? { ...next.fields } : {};\n    for (const k of Object.keys(fields)) {\n      const v = fields[k];\n      if (typeof v === \"string\") fields[k] = substituteTemplateTokens(v, ctx);\n    }\n    next.fields = fields;\n    return next;\n  });\n}\n\nfunction parseOne(itemJson) {\n  const inputCtx = itemJson && typeof itemJson === \"object\" ? itemJson : {};\n  const requestIdHint = inputCtx.request_id || null;\n  const pageTypeHint = inputCtx.page_type || null;\n  const primaryHint = inputCtx.primary_keyword || \"\";\n  const secondaryHint = Array.isArray(inputCtx.secondary_keywords) ? inputCtx.secondary_keywords : [];\n  const businessHint = inputCtx.business_name || \"\";\n  const cityHint = inputCtx.city_region || \"\";\n  const styleHint = inputCtx.style_profile?.id || inputCtx.style_profile_id || \"\";\n\n  const raw = pickRaw(inputCtx);\n  const parsedResult = parseJsonSafely(raw);\n  if (!parsedResult.ok) {\n    return {\n      json: {\n        ok: false,\n        status: 500,\n        error: \"Invalid JSON from LLM\",\n        details: parsedResult.error,\n        page_type: pageTypeHint,\n        request_id: requestIdHint,\n        blueprint_index: inputCtx.blueprint_index ?? null,\n        retry_count: inputCtx.retry_count ?? 0,\n        retry_instructions: inputCtx.retry_instructions ?? \"\",\n        retry_cache_id: inputCtx.retry_cache_id != null && String(inputCtx.retry_cache_id).trim() !== \"\" ? String(inputCtx.retry_cache_id).trim() : \"\",\n        retry_cache_key: inputCtx.retry_cache_key != null && String(inputCtx.retry_cache_key).trim() !== \"\" ? String(inputCtx.retry_cache_key).trim() : \"\",\n        raw_preview: typeof raw === \"string\" ? raw.slice(0, 800) : null,\n      },\n    };\n  }\n\n  const parsed = parsedResult.value;\n  if (!parsed || typeof parsed !== \"object\" || parsed.ok === false || !Array.isArray(parsed.updates)) {\n    return {\n      json: {\n        ok: false,\n        status: 422,\n        error: \"Invalid payload\",\n        page_type: pageTypeHint,\n        request_id: requestIdHint,\n        blueprint_index: inputCtx.blueprint_index ?? null,\n        retry_count: inputCtx.retry_count ?? 0,\n        retry_instructions: inputCtx.retry_instructions ?? \"\",\n        retry_cache_id: inputCtx.retry_cache_id != null && String(inputCtx.retry_cache_id).trim() !== \"\" ? String(inputCtx.retry_cache_id).trim() : \"\",\n        retry_cache_key: inputCtx.retry_cache_key != null && String(inputCtx.retry_cache_key).trim() !== \"\" ? String(inputCtx.retry_cache_key).trim() : \"\",\n        parsed_preview: parsed,\n      },\n    };\n  }\n\n  const cleaned = deepClean(parsed);\n  let updates = (Array.isArray(cleaned.updates) ? cleaned.updates : []).map(u => ({\n    ...u,\n    fields: u?.fields ?? u?.data ?? {},\n  }));\n\n  const pageType = cleaned.page_type || pageTypeHint || null;\n  const blueprintPostId = parseInt(inputCtx?.blueprint?.post_id || cleaned?.blueprint?.post_id || 0, 10) || 0;\n  const safeTargets = new Set([\"options\", \"post_meta\", \"faq\", \"service_meta\"]);\n  const isHomepage = pageType === \"homepage\";\n\n  const sections = Array.isArray(inputCtx?.blueprint?.sections) ? inputCtx.blueprint.sections : [];\n\n  const allowedFieldMap = (() => {\n    const out = new Set();\n    for (const section of sections) {\n      const sectionId = section?.section_id;\n      const allowed = Array.isArray(section?.allowed_field_keys) ? section.allowed_field_keys : [];\n      if (!sectionId) continue;\n      for (const key of allowed) {\n        if (typeof key === \"string\" && key) out.add(`${sectionId}.${key}`);\n      }\n    }\n    return out;\n  })();\n\n  const allowedByTypeMap = (() => {\n    const out = {};\n    for (const section of sections) {\n      const type = section?.section_type;\n      const allowed = Array.isArray(section?.allowed_field_keys) ? section.allowed_field_keys : [];\n      if (!type) continue;\n      if (!out[type]) out[type] = new Set();\n      for (const key of allowed) {\n        if (typeof key === \"string\" && key) out[type].add(key);\n      }\n    }\n    return out;\n  })();\n\n  const allowedBare = (() => {\n    const out = new Set();\n    for (const section of sections) {\n      const allowed = Array.isArray(section?.allowed_field_keys) ? section.allowed_field_keys : [];\n      for (const key of allowed) {\n        if (typeof key === \"string\" && key) out.add(key);\n      }\n    }\n    return out;\n  })();\n\n  const sectionIdsByType = {};\n  const sectionTypesById = {};\n  for (const section of sections) {\n    const sid = String(section?.section_id || \"\");\n    const stype = String(section?.section_type || \"\");\n    if (!sid || !stype) continue;\n    sectionTypesById[sid] = stype;\n    if (!sectionIdsByType[stype]) sectionIdsByType[stype] = [];\n    sectionIdsByType[stype].push(sid);\n  }\n\n  const sectionAliasTypes = {\n    intro: [\"content\", \"content_centered\", \"content_image\", \"image_content\"],\n    about: [\"content\", \"content_centered\", \"content_image\", \"image_content\"],\n    about_snippet: [\"content\", \"content_centered\", \"content_image\", \"image_content\"],\n    services: [\"service_grid\", \"services_offered_here\", \"service_intro\", \"service_details\"],\n    services_overview: [\"service_grid\", \"services_offered_here\", \"service_intro\", \"service_details\"],\n    testimonials: [\"trust_bar\", \"trust_reviews\", \"reviews\", \"social_proof\"],\n    faq: [\"faq_accordion\"],\n    cta: [\"cta\"],\n    hero: [\"hero\"],\n  };\n\n  const exactFieldAliases = {\n    \"hero.hero_cta_primary\": \"hero.cta_primary_override\",\n    \"hero.hero_cta_secondary\": \"hero.cta_secondary_override\",\n    \"cta.cta_primary\": \"cta.cta_primary_override\",\n    \"cta.cta_secondary\": \"cta.cta_secondary_override\",\n    cta_primary: \"cta.cta_primary_override\",\n    cta_secondary: \"cta.cta_secondary_override\",\n  };\n\n  function isAllowedDotKey(key) {\n    if (!key.includes(\".\")) return false;\n    const parts = key.split(\".\", 2);\n    const prefix = parts[0];\n    const field = parts[1] || \"\";\n    const allowedById = allowedFieldMap.size === 0 || allowedFieldMap.has(key);\n    const allowedByType = !allowedByTypeMap[prefix] ? false : allowedByTypeMap[prefix].has(field);\n    return allowedById || allowedByType;\n  }\n\n  function normalizeDotKey(rawKey) {\n    if (typeof rawKey !== \"string\" || !rawKey.includes(\".\")) return rawKey;\n\n    let key = exactFieldAliases[rawKey] || rawKey;\n    let [rawPrefix, rawField] = key.split(\".\", 2);\n    let prefix = rawPrefix;\n    let field = rawField || \"\";\n\n    if (prefix === \"cta\") {\n      if (field === \"section_heading\") field = \"cta_headline\";\n      if (field === \"section_intro\" || field === \"section_subheadline\") field = \"cta_subheadline\";\n      if (field === \"cta_primary\") field = \"cta_primary_override\";\n      if (field === \"cta_secondary\") field = \"cta_secondary_override\";\n    }\n\n    const directKey = `${prefix}.${field}`;\n    if (isAllowedDotKey(directKey)) return directKey;\n\n    if (sectionIdsByType[prefix]?.length) {\n      for (const sid of sectionIdsByType[prefix]) {\n        const k = `${sid}.${field}`;\n        if (isAllowedDotKey(k)) return k;\n      }\n    }\n\n    const aliasTypes = sectionAliasTypes[prefix] || [];\n    for (const t of aliasTypes) {\n      const ids = sectionIdsByType[t] || [];\n      for (const sid of ids) {\n        const k = `${sid}.${field}`;\n        if (isAllowedDotKey(k)) return k;\n      }\n    }\n\n    for (const sid of Object.keys(sectionTypesById)) {\n      const k = `${sid}.${field}`;\n      if (isAllowedDotKey(k)) return k;\n    }\n\n    return null;\n  }\n\n  function filterFieldsByAllowed(fields) {\n    if (!fields || typeof fields !== \"object\") return fields;\n    const next = {};\n\n    for (const rawKey of Object.keys(fields)) {\n      const value = fields[rawKey];\n\n      if (rawKey.includes(\".\")) {\n        const normalized = normalizeDotKey(rawKey);\n        if (normalized) next[normalized] = value;\n        continue;\n      }\n\n      const aliasedBare = exactFieldAliases[rawKey] || rawKey;\n      if (typeof aliasedBare === \"string\" && aliasedBare.includes(\".\")) {\n        const normalized = normalizeDotKey(aliasedBare);\n        if (normalized) next[normalized] = value;\n      } else if (!allowedBare || allowedBare.size === 0 || allowedBare.has(aliasedBare)) {\n        next[aliasedBare] = value;\n      }\n    }\n\n    return next;\n  }\n\n  updates = updates\n    .map(update => {\n      const out = { ...update };\n      const targetRaw = typeof out.target === \"string\" ? out.target.trim() : \"\";\n\n      if (isHomepage) {\n        if (targetRaw === \"faq\") {\n          out.target = \"faq\";\n          return out;\n        }\n        out.target = \"options\";\n        out.id = \"homepage\";\n        return out;\n      }\n\n      if (!safeTargets.has(targetRaw) || targetRaw === \"options\") {\n        out.target = \"post_meta\";\n      } else {\n        out.target = targetRaw;\n      }\n\n      if (out.target === \"post_meta\" && (!out.id || out.id === 0) && blueprintPostId) out.id = blueprintPostId;\n      if (out.target === \"service_meta\" && (!out.id || out.id === 0) && blueprintPostId) out.id = blueprintPostId;\n\n      return out;\n    })\n    .map(out => {\n      if (out.target !== \"faq\") out.fields = filterFieldsByAllowed(out.fields);\n      return out;\n    })\n    .filter(out => {\n      if (out.target === \"options\") return true;\n      if (out.target === \"faq\") return true;\n      if (out.target === \"service_meta\") return !!out.id;\n      if (out.target === \"post_meta\") return !!out.id;\n      return false;\n    });\n\n  const meta = cleaned.meta && typeof cleaned.meta === \"object\" ? cleaned.meta : {};\n  if (!meta.primary_keyword && primaryHint) meta.primary_keyword = primaryHint;\n  if (!meta.secondary_keywords && secondaryHint.length) meta.secondary_keywords = secondaryHint;\n  if (!meta.business_name && businessHint) meta.business_name = businessHint;\n  if (!meta.city_region && cityHint) meta.city_region = cityHint;\n  if (!meta.style_profile_id && styleHint) meta.style_profile_id = styleHint;\n\n  updates = substituteUpdatesTokens(updates, inputCtx);\n\n    if (pageType === \"service\") {\n    const postId = findPostMetaId(updates);\n    const shortDesc = pickShortDesc(updates);\n    if (postId && shortDesc) {\n      updates.push({\n        target: \"service_meta\",\n        id: postId,\n        fields: { lf_service_short_desc: shortDesc },\n      });\n    }\n  }\n\n  return {\n    json: {\n      ok: true,\n      request_id: cleaned.request_id || requestIdHint,\n      blueprint_index: inputCtx.blueprint_index ?? null,\n      retry_count: inputCtx.retry_count ?? 0,\n      retry_instructions: inputCtx.retry_instructions ?? \"\",\n      page_type: pageType,\n      business_name: String(inputCtx.business_name || inputCtx?.variables?.business_name || inputCtx?.variables?.company_name || ''),\n      primary_keyword: primaryHint,\n      secondary_keywords: secondaryHint,\n      city: String(inputCtx.city || inputCtx?.variables?.city || inputCtx?.variables?.service_city || ''),\n      niche: String(inputCtx.niche || inputCtx?.variables?.niche || inputCtx?.variables?.industry || ''),\n      meta,\n      updates,\n      retry_cache_id: inputCtx.retry_cache_id != null && String(inputCtx.retry_cache_id).trim() !== \"\" ? String(inputCtx.retry_cache_id).trim() : \"\",\n      retry_cache_key: inputCtx.retry_cache_key != null && String(inputCtx.retry_cache_key).trim() !== \"\" ? String(inputCtx.retry_cache_key).trim() : \"\",\n    },\n  };\n}\n\nconst inputItems = $input.all();\nreturn inputItems.map(item => parseOne(item.json || {}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        0
      ],
      "id": "2268d928-fa08-4a61-a14c-4482f72b162c",
      "name": "Parse + Normalize + CTA Guard"
    },
    {
      "parameters": {
        "jsCode": "// Quality Gate + SEO Enforcement (strict checks, no auto-repair)\nconst allItems = $input.all();\nif (!allItems.length) {\n  return [{ json: { ok: true, updates: [], quality_warnings: [\"No items for quality gate\"] } }];\n}\n\nconst wfData = $getWorkflowStaticData('global') || {};\nconst retryFallbackCache = wfData.retry_fallback_cache && typeof wfData.retry_fallback_cache === 'object' ? wfData.retry_fallback_cache : {};\n\nfor (const item of allItems) {\n  const j = item.json || {};\n  const updatesEmpty = !Array.isArray(j.updates) || j.updates.length === 0;\n  const needsRetryFallback = j.ok === false || updatesEmpty;\n  const rid = j.retry_cache_id != null ? String(j.retry_cache_id).trim() : '';\n  if (!needsRetryFallback || !rid) continue;\n  const fb = retryFallbackCache[rid];\n  if (!fb || typeof fb !== 'object') continue;\n  const pageType = fb.page_type || j.page_type || 'unknown';\n  const warnMsg = `Retry failed; used original output for ${pageType}.`;\n  const qw = Array.isArray(fb.quality_warnings) ? [...fb.quality_warnings] : [];\n  if (!qw.includes(warnMsg)) qw.push(warnMsg);\n  item.json = {\n    ...fb,\n    needs_retry: false,\n    retry_instructions: '',\n    quality_warnings: qw,\n    retry_cache_id: rid,\n  };\n}\n\nconst upstreamFailures = allItems\n  .map(i => i?.json || {})\n  .filter(j => j && j.ok === false);\n\nconst items = allItems.filter(i => i?.json?.ok !== false);\n\nconst parseWarnings = upstreamFailures.map(f => {\n  const pageType = f.page_type || 'unknown';\n  const err = String(f.error || 'unknown_error');\n  const detail = String(f.details || '').trim();\n  return detail\n    ? `Dropped blueprint page_type=${pageType}: ${err} (${detail})`\n    : `Dropped blueprint page_type=${pageType}: ${err}`;\n});\n\nfunction normalizeText(value) {\n  return String(value || \"\").toLowerCase().replace(/\\s+/g, \" \").trim();\n}\n\nfunction wordCount(value) {\n  const text = String(value || \"\").trim();\n  if (!text) return 0;\n  return text.split(/\\s+/).length;\n}\n\nfunction containsKeyword(value, keyword) {\n  const hay = normalizeText(value);\n  const needle = normalizeText(keyword);\n  if (!needle) return false;\n  return hay.includes(needle);\n}\n\nfunction extractStrings(updates) {\n  const out = [];\n  for (const update of updates) {\n    const fields = update?.fields || {};\n    for (const key of Object.keys(fields)) {\n      const value = fields[key];\n      if (typeof value === \"string\") {\n        const trimmed = value.trim();\n        if (trimmed) out.push({ key, value: trimmed });\n      }\n    }\n  }\n  return out;\n}\n\nfunction splitSentences(text) {\n  return String(text || \"\")\n    .replace(/\\s+/g, \" \")\n    .split(/[.!?]\\s+/)\n    .map(s => s.trim())\n    .filter(s => s.length >= 16);\n}\n\nfunction detectDuplicateSentences(strings) {\n  const seen = new Set();\n  for (const { value } of strings) {\n    const sentences = splitSentences(value);\n    for (const s of sentences) {\n      const n = normalizeText(s);\n      if (!n) continue;\n      if (seen.has(n)) return true;\n      seen.add(n);\n    }\n  }\n  return false;\n}\n\nfunction detectDuplicateFields(strings) {\n  const seen = new Set();\n  for (const { value } of strings) {\n    const n = normalizeText(value);\n    if (!n) continue;\n    if (seen.has(n)) return true;\n    seen.add(n);\n  }\n  return false;\n}\n\nfunction detectCityRepeatInHeadings(strings, cityRegion) {\n  if (!cityRegion) return false;\n  const city = normalizeText(cityRegion);\n  let count = 0;\n  for (const { key, value } of strings) {\n    if (!/heading|headline|trust_heading|cta_headline/i.test(key)) continue;\n    if (normalizeText(value).includes(city)) count += 1;\n  }\n  return count > 1;\n}\n\nfunction detectInYourArea(strings, pageType) {\n  if (pageType === 'service_area') return false;\n  for (const { value } of strings) {\n    if (/\\bin your area\\b/i.test(value)) return true;\n  }\n  return false;\n}\n\n\nfunction detectForbiddenTokens(strings) {\n  const patterns = [/PRIMARY_KEYWORD/i, /BUSINESS_NAME/i, /CITY_REGION/i, /\\bNICHE_TOKEN\\b/i];\n  for (const { value } of strings) {\n    for (const re of patterns) {\n      if (re.test(value)) return true;\n    }\n  }\n  return false;\n}\n\nfunction detectGenericPhrases(strings) {\n  const patterns = [\n    /delivers tailored solutions/i,\n    /clear communication, clean execution/i,\n    /long-?lasting results/i,\n    /fast response and clear pricing/i,\n    /upfront pricing before work starts/i,\n    /trusted local team/i\n  ];\n  for (const { value } of strings) {\n    for (const re of patterns) {\n      if (re.test(value)) return true;\n    }\n  }\n  return false;\n}\n\nconst warnings = [];\nfor (const item of items) {\n  const json = item.json || {};\n  if (!json.ok || !Array.isArray(json.updates)) continue;\n\n  const meta = json.meta || {};\n  const primaryKeyword = String(meta.primary_keyword || \"\").trim();\n  const secondaryKeywords = Array.isArray(meta.secondary_keywords) ? meta.secondary_keywords : [];\n  const cityRegion = String(meta.city_region || \"\").trim();\n  const pageType = json.page_type || \"unknown\";\n\n  let totalWords = 0;\n  let primaryFound = false;\n  let secondaryFound = false;\n\n  const strings = extractStrings(json.updates);\n  for (const { value } of strings) {\n    totalWords += wordCount(value);\n    if (primaryKeyword && containsKeyword(value, primaryKeyword)) primaryFound = true;\n    if (!secondaryFound && secondaryKeywords.length) {\n      secondaryFound = secondaryKeywords.some(sk => containsKeyword(value, sk));\n    }\n  }\n\n  if (primaryKeyword && !primaryFound) warnings.push(`Missing primary keyword on ${pageType}.`);\n  if (secondaryKeywords.length && !secondaryFound) warnings.push(`Missing secondary keyword on ${pageType}.`);\n\n  if (detectDuplicateFields(strings)) warnings.push(`Duplicate fields detected on ${pageType}.`);\n  if (detectDuplicateSentences(strings)) warnings.push(`Repeated sentence detected on ${pageType}.`);\n  if (detectCityRepeatInHeadings(strings, cityRegion)) warnings.push(`City repeated in headings on ${pageType}.`);\n  if (detectInYourArea(strings, pageType)) warnings.push(`\"In your area\" detected on ${pageType}.`);\n  if (detectGenericPhrases(strings)) warnings.push(`Generic phrasing detected on ${pageType}.`);\nif (detectForbiddenTokens(strings)) warnings.push(`Placeholder tokens detected on ${pageType}.`);\n\nconst minTotal = pageType === 'homepage' ? 400 : (pageType === 'post' ? 500 : 260);\n  if (totalWords < minTotal) warnings.push(`Low content volume on ${pageType} (${totalWords} words).`);\n}\n\nconst allWarnings = Array.from(new Set(warnings.concat(parseWarnings)));\n\n// Attach warnings to every item (including ok:false) so Retry Decision can act.\nfor (const item of allItems) {\n  if (!item.json || typeof item.json !== 'object') item.json = {};\n  const existing = Array.isArray(item.json.quality_warnings) ? item.json.quality_warnings : [];\n  item.json.quality_warnings = Array.from(new Set(existing.concat(allWarnings)));\n}\n\nreturn allItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        0
      ],
      "id": "8f3d9b9a-9d3d-4eaa-9c2a-78f9c6f5e3b5",
      "name": "Quality Gate + SEO Enforcement"
    },
    {
      "parameters": {
        "jsCode": "// Split FULL payload into ONE-blueprint-per-item for the LLM\n// Hardened: preserves full blueprint structure including sections\n\nconst raw = $json.body ?? $json;\nlet payload = raw.body ?? raw;\n\nfunction tryParse(value) {\n  if (typeof value !== 'string') return value;\n  try { return JSON.parse(value); } catch (e) { return value; }\n}\n\npayload = tryParse(payload);\nif (payload && typeof payload === 'object' && typeof payload.body === 'string') {\n  payload = tryParse(payload.body);\n}\n\nif (!payload || !Array.isArray(payload.blueprints)) {\n  throw new Error(\"Invalid payload: missing blueprints[]\");\n}\n\nconst homepageBlueprint = payload.blueprints.find(bp => {\n  const pageType = bp?.page_type || bp?.page;\n  return pageType === \"homepage\";\n});\n\nconst blueprintFaqPool = Array.isArray(homepageBlueprint?.faqs)\n  ? homepageBlueprint.faqs\n  : [];\nconst payloadFaqPool = Array.isArray(payload.global_faq_pool)\n  ? payload.global_faq_pool\n  : [];\n\n\nfunction inferPageType(bp, idx) {\n  const raw = [bp?.page_type, bp?.page, bp?.type, bp?.template, bp?.slug, bp?.name, bp?.title]\n    .filter(Boolean)\n    .map(v => String(v).toLowerCase());\n\n  const joined = raw.join(' ');\n  const postType = String(bp?.post_type || '').toLowerCase();\n  const slug = String(bp?.slug || '').toLowerCase();\n\n  if (joined.includes('homepage') || slug === 'home' || slug === 'homepage') return 'homepage';\n  if (joined.includes('privacy')) return 'privacy_policy';\n  if (joined.includes('terms')) return 'terms_of_service';\n  if (joined.includes('thank')) return 'thank_you';\n  if (joined.includes('sitemap')) return 'sitemap';\n  if (joined.includes('contact')) return 'contact';\n  if (joined.includes('about')) return 'about';\n  if (joined.includes('reviews')) return 'reviews';\n  if (joined.includes('services_overview') || slug === 'services') return 'services_overview';\n  if (joined.includes('service_area') || postType === 'service_area') return 'service_area';\n  if (joined.includes('projects') || postType === 'project') return 'projects';\n  if (joined.includes('blog') || postType === 'post') return 'post';\n  if (joined.includes('service') || postType === 'service') return 'service';\n\n  return postType === 'page' ? 'about' : 'post';\n}\n\nconst system_message = typeof payload.system_message === \"string\"\n  ? payload.system_message\n  : \"\";\nconst faq_strategy = payload.faq_strategy ?? {};\nconst cta_strategy = payload.cta_strategy ?? {};\nconst workflowData = $getWorkflowStaticData('global') || {};\nconst research_document = workflowData.research_document && typeof workflowData.research_document === 'object'\n  ? workflowData.research_document\n  : {};\n\nfunction buildResearchContext(doc) {\n  if (!doc || typeof doc !== 'object') return {};\n  const allowed = [\n    'brand_positioning',\n    'conversion_strategy',\n    'voice_guidelines',\n    'seo_strategy',\n    'faq_strategy',\n    'content_expansion_guidelines'\n  ];\n  const out = {};\n  for (const key of allowed) {\n    if (doc[key]) out[key] = doc[key];\n  }\n  return out;\n}\n\nconst research_context = buildResearchContext(research_document);\n\nfunction buildProgressUrl(payload) {\n  const callbackUrl = payload.callback_url || (payload.body ? payload.body.callback_url : \"\");\n  if (!callbackUrl) return \"\";\n  return callbackUrl.replace('/orchestrator', '/progress');\n}\n\nfunction sendProgress(payload, percent, step, message) {\n  const progressUrl = buildProgressUrl(payload);\n  const jobId = payload.job_id || (payload.body ? payload.body.job_id : null);\n  if (!progressUrl || !jobId) {\n    return Promise.resolve();\n  }\n  return this.helpers.httpRequest({\n    method: 'POST',\n    url: progressUrl,\n    json: true,\n    body: {\n      job_id: jobId,\n      status: 'running',\n      percent,\n      step: step || \"\",\n      message: message || \"\"\n    }\n  }).then(() => null).catch(() => null);\n}\n\n\nconst styleProfiles = [\n  {\n    id: \"authority\",\n    label: \"Authority\",\n    guidance: \"Confident, expert, precise. Short openers, concrete claims, strong trust signals.\"\n  },\n  {\n    id: \"warm_local\",\n    label: \"Warm Local\",\n    guidance: \"Neighborly, reassuring, practical. Emphasize care for the home and clear next steps.\"\n  },\n  {\n    id: \"premium\",\n    label: \"Premium\",\n    guidance: \"Polished, premium, quality-first. Focus on craftsmanship, clean process, concierge experience.\"\n  },\n  {\n    id: \"direct\",\n    label: \"Direct\",\n    guidance: \"Straightforward, action-oriented. Fast reads, benefit-first, minimal fluff.\"\n  }\n];\n\nfunction seedToInt(seed) {\n  const str = String(seed || \"\");\n  let hash = 0;\n  for (let i = 0; i < str.length; i++) {\n    hash = ((hash << 5) - hash) + str.charCodeAt(i);\n    hash |= 0;\n  }\n  return Math.abs(hash);\n}\n\nfunction pickStyleProfile(pageType, seedInt, idx) {\n  const typeWeight = pageType ? pageType.length : 0;\n  const index = (seedInt + (idx * 13) + typeWeight) % styleProfiles.length;\n  return styleProfiles[index];\n}\n\n// Deterministic seed\nfunction generateDeterministicSeed(input) {\n  const base = `${input.business_name || \"\"}|${input.city_region || \"\"}|${input.niche || \"\"}`;\n  let hash = 0;\n  for (let i = 0; i < base.length; i++) {\n    hash = ((hash << 5) - hash) + base.charCodeAt(i);\n    hash |= 0;\n  }\n  return Math.abs(hash).toString();\n}\n\nconst variation_seed =\n  payload.variation_seed ||\n  generateDeterministicSeed(payload);\n\nconst seedInt = seedToInt(variation_seed);\n\nreturn sendProgress(payload, 40, 'Generating content', 'Content generation started').then(() => payload.blueprints.map((bp, idx) => {\n\n  if (!bp || !Array.isArray(bp.sections)) {\n    throw new Error(`Blueprint missing sections array (index ${idx})`);\n  }\n\n  const page_type = inferPageType(bp, idx);\n\n  let primary_keyword = String(bp.primary_keyword || \"\").trim();\n  if (!primary_keyword) {\n    primary_keyword = String(payload.keywords?.primary || \"\").trim();\n  }\n  if (!primary_keyword) {\n    primary_keyword = String(bp.page_title || bp.primary || \"\").trim();\n  }\n  let secondary_keywords = Array.isArray(bp.secondary_keywords)\n    ? bp.secondary_keywords\n    : [];\n  if (!secondary_keywords.length) {\n    secondary_keywords = Array.isArray(payload.keywords?.secondary) ? payload.keywords.secondary : [];\n  }\n\n  const style_profile = pickStyleProfile(page_type, seedInt, idx);\n\n  return {\n    json: {\n      request_id: payload.request_id || null,\n      variation_seed,\n      business_name: payload.business_name || \"\",\n      niche: payload.niche || \"\",\n      city_region: payload.city_region || \"\",\n      keywords: payload.keywords || {},\n      primary_keyword,\n      secondary_keywords,\n      style_profile,\n      writing_samples: payload.writing_samples || [],\n      business_entity: payload.business_entity || {},\n      global_faq_pool: payloadFaqPool.length\n        ? payloadFaqPool\n        : blueprintFaqPool,\n      system_message,\n      faq_strategy,\n      cta_strategy,\n      research_context,\n      blueprint_index: idx,\n      page_type,\n      global_write_rules: {\n        cta_global_write_allowed: page_type === \"homepage\",\n        faq_global_write_allowed: page_type === \"homepage\"\n      },\n      blueprint: bp // PASS FULL OBJECT\n    }\n  };\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        0
      ],
      "id": "f3930d2d-52a3-4411-8a9d-a8c974d4ba44",
      "name": "Split Blueprints + Deterministic Metadata"
    },
    {
      "parameters": {
        "jsCode": "// Blog planner (post-only): inject archetypes + unique topic focus.\n// Safe: passes through non-post items unchanged.\n\nconst items = $input.all();\nif (!items.length) return [];\n\nfunction norm(s) { return String(s || '').toLowerCase().replace(/\\s+/g, ' ').trim(); }\nfunction uniq(arr) {\n  const seen = new Set();\n  const out = [];\n  for (const v of (Array.isArray(arr) ? arr : [])) {\n    const s = String(v || '').trim();\n    const k = norm(s);\n    if (!s || seen.has(k)) continue;\n    seen.add(k);\n    out.push(s);\n  }\n  return out;\n}\nfunction shuffle(arr, seed) {\n  const a = Array.isArray(arr) ? [...arr] : [];\n  let s = Math.max(1, seed | 0);\n  for (let i = a.length - 1; i > 0; i--) {\n    s ^= (s << 13); s ^= (s >> 17); s ^= (s << 5);\n    const j = Math.abs(s) % (i + 1);\n    const tmp = a[i]; a[i] = a[j]; a[j] = tmp;\n  }\n  return a;\n}\n\nconst posts = items.filter(it => String(it?.json?.page_type || '') === 'post');\nif (!posts.length) return items;\n\nconst seedInt = (() => {\n  const seed = String(posts[0]?.json?.variation_seed || '0');\n  let hash = 0;\n  for (let i = 0; i < seed.length; i++) { hash = ((hash << 5) - hash) + seed.charCodeAt(i); hash |= 0; }\n  return Math.abs(hash);\n})();\n\nconst archetypes = [\n  { id: 'pillar', minWords: 1800 },\n  { id: 'cost', minWords: 1200 },\n  { id: 'howto', minWords: 1200 },\n  { id: 'troubleshooting', minWords: 1200 },\n  { id: 'local_guide', minWords: 1200 },\n];\n\nconst research = posts[0]?.json?.research_context || {};\nconst seo = (research && typeof research === 'object' && research.seo_strategy && typeof research.seo_strategy === 'object') ? research.seo_strategy : {};\nconst pool = uniq([].concat(seo.supporting_topics || [], seo.semantic_entities || [], (posts[0]?.json?.keywords?.secondary || [])));\nconst topics = shuffle(pool, seedInt + 77);\n\nfor (let i = 0; i < posts.length; i++) {\n  const item = posts[i];\n  const planArch = archetypes[i % archetypes.length];\n  const topic = topics[i] || topics[0] || String(item.json.primary_keyword || item.json.keywords?.primary || item.json.niche || '');\n  const pk = String(topic || '').trim() || String(item.json.primary_keyword || item.json.keywords?.primary || '').trim();\n\n  const title = planArch.id === 'pillar'\n    ? `The Complete Guide to ${pk}`\n    : planArch.id === 'cost'\n      ? `${pk} Cost: Pricing, Factors, and What to Expect`\n      : planArch.id === 'howto'\n        ? `How to Handle ${pk}: A Step-by-Step Checklist`\n        : planArch.id === 'troubleshooting'\n          ? `${pk} Symptoms: Causes, Risks, and Fix Options`\n          : `${pk}: Local Tips, FAQs, and What Homeowners Should Know`;\n\n  const blog_plan = {\n    archetype: planArch.id,\n    min_words: planArch.minWords,\n    topic,\n    primary_keyword: pk,\n    suggested_title: title,\n    include_entities: uniq(seo.semantic_entities || []).slice(0, 12),\n  };\n\n  const blogMsg = [\n    'BLOG POST OVERRIDES (post-only):',\n    `- Archetype: ${blog_plan.archetype}`,\n    `- Suggested title: ${blog_plan.suggested_title}`,\n    `- Primary keyword focus: ${blog_plan.primary_keyword}`,\n    `- Minimum total words across fields: ${blog_plan.min_words}`,\n    blog_plan.include_entities.length ? `- Include these entities naturally: ${blog_plan.include_entities.join(', ')}` : ''\n  ].filter(Boolean).join('\\n');\n\n  item.json.blog_plan = blog_plan;\n  item.json.primary_keyword = blog_plan.primary_keyword;\n  item.json.system_message = [String(item.json.system_message || '').trim(), blogMsg].filter(Boolean).join('\\n\\n');\n  if (item.json.blueprint && typeof item.json.blueprint === 'object') {\n    item.json.blueprint = { ...item.json.blueprint, page_title: blog_plan.suggested_title };\n  }\n}\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        -120
      ],
      "id": "3c52c2a7-5f4a-4cc6-a540-4f6e01c1f94d",
      "name": "Blog Planner (post-only)"
    },
    {
      "parameters": {
        "jsCode": "// Merge all blueprint results into one final payload\nconst items = $input.all();\n\nconst webhook = $node[\"Webhook\"].json || {};\nconst progressPayload = webhook.body ?? webhook;\n\nfunction buildProgressUrl(payload) {\n  const callbackUrl = payload.callback_url || (payload.body ? payload.body.callback_url : \"\");\n  if (!callbackUrl) return \"\";\n  return callbackUrl.replace('/orchestrator', '/progress');\n}\n\nfunction sendProgress(payload, percent, step, message, requestId) {\n  const progressUrl = buildProgressUrl(payload);\n  const jobId = payload.job_id || (payload.body ? payload.body.job_id : null);\n  const runPhase = payload.run_phase || (payload.body ? payload.body.run_phase : '') || 'initial';\n  if (!progressUrl || !jobId || !requestId) {\n    return Promise.resolve();\n  }\n  return this.helpers.httpRequest({\n    method: 'POST',\n    url: progressUrl,\n    json: true,\n    body: {\n      job_id: jobId,\n      request_id: requestId,\n      status: 'running',\n      percent,\n      step: step || '',\n      message: message || '',\n      run_phase: runPhase\n    }\n  }).then(() => null).catch(() => null);\n}\n\nif (!items.length) {\n  return sendProgress(progressPayload, 85, 'Finalizing', 'Merge failed: no inputs', null).then(() => [{\n    json: {\n      ok: false,\n      error: 'No items received to merge',\n      request_id: null,\n      run_phase: progressPayload.run_phase || 'initial',\n      updates: [],\n      quality_warnings: ['Merge node received zero input items.'],\n      had_failures: true,\n    }\n  }]);\n}\n\nlet mergedUpdates = [];\nlet requestId = null;\nlet warnings = [];\nlet hadFailure = false;\nconst pageTypeCounts = {};\nconst updateTargetCounts = {};\nconst blueprintMeta = {};\nconst postContextById = {};\n\nfunction normalizeText(value) {\n  return String(value || \"\").toLowerCase().replace(/\\s+/g, \" \").trim();\n}\n\nfunction isHeadingKey(key) {\n  return /heading|headline/i.test(String(key || ''));\n}\n\nfunction shouldEnforceUniqueness(fieldKey) {\n  if (fieldKey === 'faq_selected_ids') return false;\n  const deny = [\n    'url', 'link', 'target', 'slug', 'id', 'image', 'icon', 'color', 'background',\n    'layout', 'variant', 'toggle', 'enabled', 'size', 'position', 'align', 'style',\n    'map', 'address', 'phone', 'email', 'city', 'state', 'zip', 'latitude', 'longitude',\n    'hours', 'schema', 'shortcode',\n  ];\n  for (const needle of deny) {\n    if (String(fieldKey || '').includes(needle)) {\n      return fieldKey === 'image_alt';\n    }\n  }\n  return true;\n}\n\nfunction isGenericHeadingValue(value, ctx) {\n  const plain = normalizeText(value);\n  if (!plain) return true;\n  if (plain.includes('in your area')) return true;\n  const generic = new Set([\n    'privacy policy',\n    'terms of service',\n    'contact',\n    'about',\n    'reviews',\n    'sitemap',\n    'thank you',\n    'blog',\n    'services',\n    'service'\n  ]);\n  if (generic.has(plain)) return true;\n  const primary = normalizeText(ctx.primary_keyword || '');\n  if (primary && plain === primary) return true;\n  const business = normalizeText(ctx.business_name || '');\n  if (business && plain === business) return true;\n  return false;\n}\n\nfunction buildSpecificHeading(value, ctx) {\n  const biz = ctx.business_name || 'this business';\n  switch (ctx.page_type) {\n    case 'privacy_policy':\n      return `Privacy Policy for ${biz}`;\n    case 'terms_of_service':\n      return `Terms of Service for ${biz}`;\n    case 'contact':\n      return `Contact ${biz}`;\n    case 'about':\n      return `About ${biz}`;\n    case 'reviews':\n      return `Reviews for ${biz}`;\n    case 'sitemap':\n      return `Sitemap for ${biz}`;\n    case 'thank_you':\n      return `Thank You from ${biz}`;\n    default:\n      break;\n  }\n  const topic = ctx.primary_keyword || ctx.page_type || 'this page';\n  return `${value} \u2014 ${topic}`;\n}\n\nfunction buildUniqueSentence(ctx, postId, attempt) {\n  const topic = ctx.primary_keyword || ctx.page_type || 'this topic';\n  const biz = ctx.business_name ? ` ${ctx.business_name}` : '';\n  const city = ctx.city_region ? ` in ${ctx.city_region}` : '';\n  const suffix = attempt > 1 ? ` (${attempt})` : '';\n  return `This page focuses on ${topic}${biz}${city}${suffix}.`;\n}\n\nfunction applyUniquenessGuard(updates) {\n  const globalSeen = {};\n  const pageSeen = {};\n  let changedCount = 0;\n\n  for (const update of updates) {\n    if (String(update?.target || '') !== 'post_meta') continue;\n    const postId = String(update?.id || '').trim();\n    if (!postId) continue;\n    if (!pageSeen[postId]) pageSeen[postId] = new Set();\n    const ctx = postContextById[postId] || {};\n    const fields = update?.fields && typeof update.fields === 'object' ? update.fields : {};\n\n    for (const key of Object.keys(fields)) {\n      const value = fields[key];\n      if (typeof value !== 'string') continue;\n      if (!shouldEnforceUniqueness(key)) continue;\n\n      let nextVal = value;\n      if (isHeadingKey(key) && isGenericHeadingValue(nextVal, ctx)) {\n        nextVal = buildSpecificHeading(nextVal, ctx);\n      }\n\n      let norm = normalizeText(nextVal);\n      if (!norm) {\n        fields[key] = nextVal;\n        continue;\n      }\n\n      const seenInPage = pageSeen[postId].has(norm);\n      const seenAcross = globalSeen[norm] && globalSeen[norm] !== postId;\n\n      if (seenInPage || seenAcross) {\n        let attempt = 1;\n        const isRich = /<p[\\s>]|<ul[\\s>]|<ol[\\s>]/i.test(nextVal);\n        const isList = !isRich && nextVal.includes('\\n');\n        let candidate = nextVal;\n        let candidateNorm = norm;\n\n        do {\n          const sentence = buildUniqueSentence(ctx, postId, attempt);\n          if (isList) {\n            candidate = `${nextVal}\\n${sentence}`;\n          } else if (isRich) {\n            candidate = `${nextVal}<p>${sentence}</p>`;\n          } else if (isHeadingKey(key)) {\n            candidate = `${nextVal} \u2014 ${sentence.replace(/\\.$/, '')}`;\n          } else {\n            candidate = `${nextVal} ${sentence}`;\n          }\n          candidateNorm = normalizeText(candidate);\n          attempt += 1;\n        } while ((pageSeen[postId].has(candidateNorm) || (globalSeen[candidateNorm] && globalSeen[candidateNorm] !== postId)) && attempt < 4);\n\n        nextVal = candidate;\n        norm = candidateNorm;\n        changedCount += 1;\n      }\n\n      fields[key] = nextVal;\n      if (norm) {\n        pageSeen[postId].add(norm);\n        globalSeen[norm] = postId;\n      }\n    }\n\n    update.fields = fields;\n  }\n\n  if (changedCount > 0) {\n    warnings.push(`Uniqueness guard adjusted ${changedCount} field(s) to avoid duplicate content.`);\n  }\n\n  return updates;\n}\n\nfor (const item of items) {\n  const json = item.json || {};\n  if (json.request_id) requestId = json.request_id;\n  if (json.ok === false) hadFailure = true;\n  if (Array.isArray(json.quality_warnings)) warnings.push(...json.quality_warnings);\n  if (Array.isArray(json.updates)) mergedUpdates = mergedUpdates.concat(json.updates);\n  const pageType = String(json.page_type || '').trim();\n  if (pageType) pageTypeCounts[pageType] = (pageTypeCounts[pageType] || 0) + 1;\n  if (json.page_type || json.blueprint_index !== undefined) {\n    const key = String(json.blueprint_index ?? pageTypeCounts[pageType] ?? '');\n    if (key !== '') {\n      blueprintMeta[key] = {\n        page_type: json.page_type || null,\n        blueprint_index: json.blueprint_index ?? null,\n        post_id: json.meta?.post_id || json.blueprint?.post_id || null,\n      };\n    }\n  }\n\n  const ctx = {\n    page_type: pageType || json.page_type || '',\n    primary_keyword: String(json.meta?.primary_keyword || json.primary_keyword || '').trim(),\n    business_name: String(json.meta?.business_name || json.business_name || '').trim(),\n    city_region: String(json.meta?.city_region || json.city_region || '').trim(),\n  };\n\n  const updates = Array.isArray(json.updates) ? json.updates : [];\n  const postIds = new Set();\n  for (const update of updates) {\n    const target = String(update?.target || '');\n    if (target !== 'post_meta' && target !== 'service_meta') continue;\n    const id = String(update?.id || '').trim();\n    if (id) postIds.add(id);\n  }\n  for (const postId of postIds) {\n    if (!postContextById[postId]) {\n      postContextById[postId] = ctx;\n    }\n  }\n}\n\nfor (const update of mergedUpdates) {\n  const target = String(update?.target || 'unknown').trim() || 'unknown';\n  updateTargetCounts[target] = (updateTargetCounts[target] || 0) + 1;\n}\n\nconst hasHomepage = mergedUpdates.some(u => String(u?.target || '') === 'options' && String(u?.id || '') === 'homepage');\n\nwarnings = Array.from(new Set(warnings));\n\nif (!mergedUpdates.length) {\n  if (hadFailure) {\n    warnings.push('No updates produced: upstream blueprint(s) failed (often LLM invalid JSON / parse). Inspect items with ok=false before this node.');\n  } else {\n    warnings.push('No updates produced: all input branches returned empty updates arrays.');\n  }\n  return sendProgress(progressPayload, 85, 'Finalizing', 'No updates to merge', requestId).then(() => [{\n    json: {\n      ok: false,\n      error: 'No updates produced',\n      request_id: requestId,\n      run_phase: progressPayload.run_phase || 'initial',\n      updates: [],\n      page_type_counts: pageTypeCounts,\n      update_target_counts: updateTargetCounts,\n      quality_warnings: Array.from(new Set(warnings)),\n      blueprint_meta: blueprintMeta,\n      had_failures: true,\n    }\n  }]);\n}\n\nconst __lfMergeRunPhase = String(progressPayload.run_phase || '').toLowerCase();\nif (!hasHomepage && __lfMergeRunPhase !== 'repair') {\n  warnings.push('Homepage updates missing: expected at least one update with target=options and id=homepage.');\n}\n\nmergedUpdates = applyUniquenessGuard(mergedUpdates);\n\nwarnings = Array.from(new Set(warnings));\n\nreturn sendProgress(progressPayload, 85, 'Finalizing', 'Merging results', requestId).then(() => [{\n  json: {\n    ok: true,\n    request_id: requestId,\n    run_phase: progressPayload.run_phase || 'initial',\n    updates: mergedUpdates,\n    page_type_counts: pageTypeCounts,\n    update_target_counts: updateTargetCounts,\n    quality_warnings: warnings,\n    blueprint_meta: blueprintMeta,\n    had_failures: hadFailure\n  }\n}]);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3160,
        0
      ],
      "id": "c3bbf996-9ce8-4335-a67e-8337eb20f24b",
      "name": "Merge Blueprint Results"
    },
    {
      "parameters": {
        "jsCode": "const webhook = $node[\"Webhook\"].json || {};\nconst webhookPayload = webhook.body ?? webhook;\nconst jobId = webhook.job_id || webhook.body?.job_id || $json?.job_id || null;\nconst callbackUrl = webhook.callback_url || webhook.body?.callback_url || $json?.callback_url || \"\";\nconst requestId = webhook.body?.request_id || webhook.request_id || $json?.request_id || \"\";\nconst authHeader = webhookPayload.callback_authorization || webhook.body?.callback_authorization || webhook.headers?.authorization || webhook.headers?.Authorization || \"\";\n\nconst candidateRows = Array.isArray(webhookPayload.media_library_candidates)\n  ? webhookPayload.media_library_candidates\n  : [];\nconst imageGeneration = (webhookPayload && typeof webhookPayload.image_generation === 'object' && webhookPayload.image_generation) ? webhookPayload.image_generation : {};\nconst imageTargets = Array.isArray(imageGeneration.targets) ? imageGeneration.targets : [];\nconst mediaAnnotations = Array.isArray($json?.media_annotations)\n  ? $json.media_annotations\n  : (Array.isArray($json?.vision?.media_annotations)\n      ? $json.vision.media_annotations\n      : (Array.isArray($json?.image_analysis?.media_annotations)\n          ? $json.image_analysis.media_annotations\n          : []));\n\nconst qualityWarnings = Array.isArray($json?.quality_warnings) ? [...$json.quality_warnings] : [];\n\nfunction fallbackAnnotationsFromTargets(targets, candidates) {\n  if (!Array.isArray(targets) || targets.length === 0 || !Array.isArray(candidates) || candidates.length === 0) {\n    return [];\n  }\n  const used = new Set();\n  const scoreCandidate = (target, candidate) => {\n    const haystack = [candidate.filename, candidate.title, candidate.alt, candidate.caption].filter(Boolean).join(' ').toLowerCase();\n    if (!haystack) return 0;\n    const sectionType = String(target.section_type || '').toLowerCase();\n    const slot = String(target.slot || '').toLowerCase();\n    let score = 0;\n    if (slot && haystack.includes(slot)) score += 5;\n    if (sectionType && haystack.includes(sectionType)) score += 4;\n    const ctx = target.context && typeof target.context === 'object' ? target.context : {};\n    ['city','niche','service_slug','area_slug','page_type'].forEach((key) => {\n      const term = String(ctx[key] || '').toLowerCase().trim();\n      if (term && haystack.includes(term)) score += 2;\n    });\n    return score;\n  };\n\n  const out = [];\n  for (const target of targets) {\n    if (!target || typeof target !== 'object') continue;\n    const available = candidates\n      .map((row) => ({ row, id: Number(row?.attachment_id || 0) }))\n      .filter((x) => x.id > 0 && !used.has(x.id));\n    if (available.length === 0) break;\n    available.sort((a, b) => scoreCandidate(target, b.row) - scoreCandidate(target, a.row));\n    const pick = available[0];\n    used.add(pick.id);\n    const sectionType = String(target.section_type || 'section');\n    const slot = String(target.slot || 'image');\n    const ctx = target.context && typeof target.context === 'object' ? target.context : {};\n    const city = String(ctx.city || '').trim();\n    const niche = String(ctx.niche || '').trim();\n    const phrase = [sectionType, slot, city ? `in ${city}` : '', niche ? `for ${niche}` : ''].filter(Boolean).join(' ');\n    const safeFile = `${sectionType}-${slot}${city ? `-${city}` : ''}`\n      .toLowerCase()\n      .replace(/[^a-z0-9]+/g, '-')\n      .replace(/^-+|-+$/g, '') || 'site-image';\n\n    out.push({\n      attachment_id: pick.id,\n      title: `${sectionType} ${slot}`.replace(/[_-]+/g, ' ').replace(/\\b\\w/g, (m) => m.toUpperCase()),\n      alt_text: phrase,\n      caption: phrase,\n      description: `Photo reference used for ${phrase}.`,\n      keywords: [sectionType, slot, city, niche].filter(Boolean),\n      recommended_filename: `${safeFile}.jpg`\n    });\n  }\n  return out;\n}\n\nconst fallbackAnnotations = mediaAnnotations.length === 0\n  ? fallbackAnnotationsFromTargets(imageTargets, candidateRows)\n  : [];\nconst effectiveMediaAnnotations = mediaAnnotations.length > 0 ? mediaAnnotations : fallbackAnnotations;\n\nconst strictMediaAnnotations = webhookPayload.media_annotation_mode === 'strict' || webhookPayload.media_annotation_required === true;\nconst minExpected = Math.max(0, Number(webhookPayload.media_annotation_min_expected || 0));\nif (strictMediaAnnotations && minExpected > 0 && effectiveMediaAnnotations.length < minExpected) {\n  qualityWarnings.push(`Missing media_annotations (expected>=${minExpected}, got=${effectiveMediaAnnotations.length}, candidates=${candidateRows.length}, targets=${imageTargets.length}). Continuing in fallback mode.`);\n}\nif (fallbackAnnotations.length > 0) {\n  qualityWarnings.push(`Generated ${fallbackAnnotations.length} fallback media_annotations from image_generation targets.`);\n}\nif (candidateRows.length > 0 && effectiveMediaAnnotations.length === 0) {\n  qualityWarnings.push('No media_annotations present; callback will use theme fallback metadata only.');\n}\n\nfunction remapLegacyHomepageFieldKey(key) {\n  if (typeof key !== 'string' || key.indexOf('.') === -1) return key;\n  const [section, field] = key.split('.', 2);\n  const sectionMap = {\n    intro: 'service_intro',\n    services: 'service_details',\n    about: 'benefits',\n    testimonials: 'trust_reviews'\n  };\n  const fieldMap = {\n    hero_cta_primary: 'cta_primary_override',\n    hero_cta_secondary: 'cta_secondary_override',\n    cta_primary: 'cta_primary_override',\n    cta_secondary: 'cta_secondary_override'\n  };\n  const mappedSection = sectionMap[section] || section;\n  const mappedField = fieldMap[field] || field;\n  return `${mappedSection}.${mappedField}`;\n}\n\nlet remapCount = 0;\nconst normalizedUpdates = Array.isArray($json?.updates)\n  ? $json.updates.map((update) => {\n      if (!update || typeof update !== 'object') return update;\n      const target = String(update.target || '');\n      const id = String(update.id || '');\n      if (target !== 'options' || id !== 'homepage' || !update.fields || typeof update.fields !== 'object') {\n        return update;\n      }\n      const nextFields = {};\n      for (const rawKey of Object.keys(update.fields)) {\n        const mappedKey = remapLegacyHomepageFieldKey(rawKey);\n        if (mappedKey !== rawKey) remapCount += 1;\n        nextFields[mappedKey] = update.fields[rawKey];\n      }\n      return { ...update, fields: nextFields };\n    })\n  : $json?.updates;\n\nif (remapCount > 0) {\n  qualityWarnings.push(`Normalized ${remapCount} legacy homepage field keys before callback.`);\n}\n\nconst identityBusiness = String(webhookPayload.business_name || webhookPayload.business?.name || '').trim();\nconst identityCity = String(webhookPayload.city_region || webhookPayload.business?.primary_city || webhookPayload.business?.address?.city || '').trim();\nconst identityNiche = String(webhookPayload.niche || webhookPayload.business?.niche || '').trim();\nconst identityNicheSlug = String(webhookPayload.niche_slug || webhookPayload.business?.niche_slug || '').trim();\n\nconst callbackBodyObj = {\n  ...$json,\n  business_name: $json.business_name || identityBusiness,\n  city_region: $json.city_region || identityCity,\n  niche: $json.niche || identityNiche,\n  niche_slug: $json.niche_slug || identityNicheSlug,\n  updates: normalizedUpdates,\n  job_id: jobId,\n  request_id: requestId,\n  callback_url: callbackUrl,\n  media_annotations: effectiveMediaAnnotations,\n  quality_warnings: Array.from(new Set(qualityWarnings))\n};\n\nreturn [{\n  json: {\n    ...callbackBodyObj,\n    callback_payload: { payload: JSON.stringify(callbackBodyObj) },\n    callback_auth_header: authHeader\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3380,
        0
      ],
      "id": "e9b4c5a7-8a33-4e6f-9c5b-b3e6f9a1f0d4",
      "name": "Attach Callback Metadata"
    },
    {
      "parameters": {
        "url": "={{$json.callback_url}}",
        "method": "POST",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{$json.callback_auth_header}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "payload",
              "value": "={{$json.callback_payload?.payload || JSON.stringify($json)}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3820,
        0
      ],
      "id": "c0b5c159-7a7f-4d58-b7c1-1a7a2a1e3b42",
      "name": "Callback to WP"
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\nif (!allItems.length) {\n  return [{ json: { ok: false, updates: [], error: 'No items for global completeness gate.', quality_warnings: ['No items for global completeness gate.'] } }];\n}\n\nconst upstreamFailures = allItems\n  .map(item => item?.json || {})\n  .filter(j => j && j.ok === false);\n\nconst items = allItems.filter(item => item?.json?.ok !== false);\nif (!items.length) {\n  const warnings = upstreamFailures.map(f => {\n    const pageType = f.page_type || 'unknown';\n    const err = String(f.error || 'unknown_error');\n    const detail = String(f.details || '').trim();\n    return detail\n      ? `Dropped blueprint page_type=${pageType}: ${err} (${detail})`\n      : `Dropped blueprint page_type=${pageType}: ${err}`;\n  });\n  return [{ json: { ok: false, updates: [], error: 'All blueprint items failed before completeness checks.', quality_warnings: warnings.length ? warnings : ['All blueprint items failed before completeness checks'] } }];\n}\n\nconst parseWarnings = upstreamFailures.map(f => {\n  const pageType = f.page_type || 'unknown';\n  const err = String(f.error || 'unknown_error');\n  const detail = String(f.details || '').trim();\n  return detail\n    ? `Dropped blueprint page_type=${pageType}: ${err} (${detail})`\n    : `Dropped blueprint page_type=${pageType}: ${err}`;\n});\n\nfunction wordCount(v) {\n  const t = String(v || '').replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\n  return t ? t.split(' ').length : 0;\n}\n\nfunction normalized(v) {\n  return String(v || '').toLowerCase().replace(/\\s+/g, ' ').trim();\n}\n\nconst genericFlags = [\n  'short overview of',\n  'sample project created during site generation',\n  'what to expect',\n  'placeholder',\n  'lorem ipsum'\n];\n\nfunction hasGenericText(text) {\n  const n = normalized(text);\n  return genericFlags.some(flag => n.includes(flag));\n}\n\nfunction toBool(value, fallback = false) {\n  if (value === true || value === 1 || value === '1') return true;\n  if (value === false || value === 0 || value === '0') return false;\n  return fallback;\n}\n\nconst webhook = $node['Webhook'].json || {};\nconst payload = webhook.body ?? webhook;\nconst manifestScopeMode = String(payload.generation_scope || '').trim().toLowerCase();\nconst scopeObject = (payload.generation_scope && typeof payload.generation_scope === 'object')\n  ? payload.generation_scope\n  : {};\n\nconst scope = manifestScopeMode === 'homepage_only'\n  ? {\n      homepage: true,\n      services: false,\n      service_areas: false,\n      core_pages: false,\n      blog_posts: false,\n      projects: false\n    }\n  : {\n      homepage: toBool(scopeObject.homepage, true),\n      services: toBool(scopeObject.services, true),\n      service_areas: toBool(scopeObject.service_areas, true),\n      core_pages: toBool(scopeObject.core_pages, true),\n      blog_posts: toBool(scopeObject.blog_posts, true),\n      projects: toBool(scopeObject.projects, true)\n    };\n\nconst warnings = [...parseWarnings];\nconst pageTypeCounts = {};\n\nconst homepageBlueprint = Array.isArray(payload.blueprints)\n  ? payload.blueprints.find(bp => String(bp?.page || bp?.page_type || '').trim() === 'homepage')\n  : null;\nconst homepagePostId = String(homepageBlueprint?.post_id || '').trim();\n\nfunction looksLikeHomepageField(key) {\n  const k = String(key || '').toLowerCase();\n  return k.startsWith('hero') || k.startsWith('benefits') || k.startsWith('cta.') || k.startsWith('trust_') || k.startsWith('process') || k.startsWith('faq_accordion');\n}\n\nconst isMergedPayload = items.length === 1\n  && Array.isArray(items[0]?.json?.updates)\n  && String(items[0]?.json?.page_type || '').trim() === '';\n\nif (isMergedPayload) {\n  const lfRepairRun = String(payload.run_phase || '').toLowerCase() === 'repair';\n  const merged = items[0].json || {};\n  const updates = Array.isArray(merged.updates) ? merged.updates : [];\n  const faqTargets = Array.isArray(payload.blueprints)\n    ? payload.blueprints.filter(bp => bp?.faq_target_count || bp?.faq_target_range)\n    : [];\n  const faqUpdates = updates.filter(update => String(update?.target || '') === 'faq');\n  const faqEmbeddedInFields = updates.some(update => {\n    const fields = update?.fields && typeof update.fields === 'object' ? update.fields : {};\n    return Object.keys(fields).some(k => String(k).toLowerCase().includes('faq'));\n  });\n  if (faqTargets.length && faqUpdates.length === 0 && !faqEmbeddedInFields) {\n    warnings.push('Blueprint FAQ targets present but no FAQ updates or FAQ-named fields in merged payload (check LLM output).');\n  }\n  const targetCounts = {};\n\n  for (const update of updates) {\n    const target = String(update?.target || 'unknown').trim() || 'unknown';\n    targetCounts[target] = (targetCounts[target] || 0) + 1;\n  }\n\n  const homepageByOptions = updates.some(update =>\n    String(update?.target || '') === 'options' && String(update?.id || '') === 'homepage'\n  );\n\n  const homepageByPostMeta = updates.some(update => {\n    if (String(update?.target || '') !== 'post_meta') return false;\n    const updateId = String(update?.id || '').trim();\n    if (!updateId) return false;\n    if (homepagePostId && updateId === homepagePostId) return true;\n    const fields = update?.fields && typeof update.fields === 'object' ? update.fields : {};\n    return Object.keys(fields).some(looksLikeHomepageField);\n  });\n\n  const homepageProduced = homepageByOptions || homepageByPostMeta;\n\n  const nonHomepageNonFaqUpdates = updates.filter(update => {\n    const target = String(update?.target || '');\n    const id = String(update?.id || '');\n    if (target === 'faq') return false;\n    if (target === 'options' && id === 'homepage') return false;\n    if (target === 'post_meta') {\n      const updateId = String(update?.id || '').trim();\n      if (homepagePostId && updateId === homepagePostId) return false;\n    }\n    return true;\n  });\n\n  if (scope.homepage && !homepageProduced && !lfRepairRun) {\n    warnings.push('Scope mismatch: homepage enabled but no homepage updates detected.');\n  }\n\n  if ((scope.services || scope.service_areas || scope.core_pages || scope.blog_posts || scope.projects)\n      && nonHomepageNonFaqUpdates.length === 0) {\n    warnings.push(`Scope mismatch: non-homepage pages requested but merged updates only include homepage/faq. update_targets=${JSON.stringify(targetCounts)}`);\n  }\n\n  if (!updates.length) {\n    merged.ok = false;\n    merged.error = merged.error || 'Merged payload has zero updates (upstream parse/LLM failures).';\n    warnings.push('Merged updates array is empty; inspect execution items before Deterministic FAQ for ok=false / Invalid JSON / Invalid payload.');\n  }\n\n  merged.quality_warnings = Array.isArray(merged.quality_warnings)\n    ? Array.from(new Set(merged.quality_warnings.concat(warnings)))\n    : warnings;\n  merged.page_type_counts = merged.page_type_counts || {};\n  merged.update_target_counts = targetCounts;\n  merged.scope_mismatch = warnings.some(w => String(w).startsWith('Scope mismatch:'));\n  merged.parse_failed_count = upstreamFailures.length;\n  merged.homepage_detected_via = homepageByOptions ? 'options' : (homepageByPostMeta ? 'post_meta' : 'none');\n  return [{ json: merged }];\n}\n\nfor (const item of items) {\n  const j = item.json || {};\n  const pageType = String(j.page_type || '').trim();\n  if (pageType) {\n    pageTypeCounts[pageType] = (pageTypeCounts[pageType] || 0) + 1;\n  }\n\n  if (!j.ok || !Array.isArray(j.updates) || !j.updates.length) {\n    warnings.push(`Missing updates for page_type=${pageType || 'unknown'}`);\n    continue;\n  }\n\n  let pageWords = 0;\n  let hasPrimary = false;\n  const primary = String(j?.meta?.primary_keyword || '').trim();\n\n  for (const update of j.updates) {\n    if (!update || !update.fields || typeof update.fields !== 'object') continue;\n    for (const key of Object.keys(update.fields)) {\n      const value = update.fields[key];\n      if (typeof value !== 'string') continue;\n      pageWords += wordCount(value);\n      if (primary && normalized(value).includes(normalized(primary))) {\n        hasPrimary = true;\n      }\n      if (hasGenericText(value)) {\n        warnings.push(`Generic placeholder phrase found in ${pageType || 'unknown'} field ${key}`);\n      }\n    }\n  }\n\n  if (primary && !hasPrimary) {\n    warnings.push(`Primary keyword missing in content body for ${pageType || 'unknown'}`);\n  }\n\n  const minWords = pageType === 'post' ? 450 : (pageType === 'homepage' ? 180 : 120);\n  if (pageWords < minWords) {\n    warnings.push(`Low content volume for ${pageType || 'unknown'} (${pageWords} words, min ${minWords})`);\n  }\n}\n\nif (scope.homepage && !pageTypeCounts.homepage) {\n  warnings.push('Scope mismatch: homepage enabled but no homepage blueprints were produced.');\n}\nif (scope.services && !pageTypeCounts.service) {\n  warnings.push('Scope mismatch: services enabled but no service blueprints were produced.');\n}\nif (scope.service_areas && !pageTypeCounts.service_area) {\n  warnings.push('Scope mismatch: service_areas enabled but no service_area blueprints were produced.');\n}\nif (scope.core_pages) {\n  const required = ['about', 'contact'];\n  for (const type of required) {\n    if (!pageTypeCounts[type]) {\n      warnings.push(`Scope mismatch: core_pages enabled but missing page_type=${type}`);\n    }\n  }\n}\nif (scope.blog_posts) {\n  const blogCount = pageTypeCounts.post || 0;\n  if (blogCount < 5) {\n    warnings.push(`Scope mismatch: blog_posts enabled but only ${blogCount} blog blueprints were produced (expected at least 5).`);\n  }\n}\n\nfor (const item of items) {\n  if (!item.json || typeof item.json !== 'object') item.json = {};\n  const existing = Array.isArray(item.json.quality_warnings) ? item.json.quality_warnings : [];\n  item.json.quality_warnings = Array.from(new Set(existing.concat(warnings)));\n  item.json.page_type_counts = pageTypeCounts;\n  item.json.scope_mismatch = warnings.some(w => String(w).startsWith('Scope mismatch:'));\n  item.json.parse_failed_count = upstreamFailures.length;\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2940,
        0
      ],
      "id": "29b24d00-8f11-43f0-9242-6fa44391a2cc",
      "name": "Global Completeness + Blog Gate"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -420,
        240
      ],
      "id": "f3e3b75e-3dd1-4bfe-9d2f-6631fdc2b19b",
      "name": "Test Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Cache blueprint input for retries (canonical + alias maps, per-request invalidation)\nconst data = $getWorkflowStaticData('global');\n\nfunction normalizeKeySegment(s) {\n  return String(s ?? '')\n    .trim()\n    .toLowerCase()\n    .replace(/\\s+/g, ' ')\n    .replace(/:/g, '-');\n}\n\nconst items = $input.all();\nconst out = [];\n\nfunction ensureCacheMaps() {\n  if (!data.blueprint_cache_by_id || typeof data.blueprint_cache_by_id !== 'object') data.blueprint_cache_by_id = {};\n  if (!data.blueprint_cache_aliases || typeof data.blueprint_cache_aliases !== 'object') data.blueprint_cache_aliases = {};\n  if (!data.blueprint_cache_alias_collisions || typeof data.blueprint_cache_alias_collisions !== 'object') data.blueprint_cache_alias_collisions = {};\n  if (!data.blueprint_cache || typeof data.blueprint_cache !== 'object') data.blueprint_cache = {};\n}\n\nfunction registerAlias(aliasKey, cid) {\n  if (!aliasKey || !cid) return;\n  const prev = data.blueprint_cache_aliases[aliasKey];\n  if (prev !== undefined && prev !== cid) {\n    data.blueprint_cache_alias_collisions[aliasKey] = true;\n  }\n  data.blueprint_cache_aliases[aliasKey] = cid;\n}\n\nfor (const item of items) {\n  const json = item.json || {};\n  const requestId = String(json.request_id || '');\n  const blueprintIndex = json.blueprint_index;\n  const canonical_id = `${requestId}:${blueprintIndex ?? ''}`;\n\n  if (data.last_request_id !== requestId) {\n    data.blueprint_cache_by_id = {};\n    data.blueprint_cache_aliases = {};\n    data.blueprint_cache_alias_collisions = {};\n    data.retry_fallback_cache = {};\n    data.blueprint_cache = {};\n    data.last_request_id = requestId;\n  }\n\n  ensureCacheMaps();\n\n  if (canonical_id) {\n    data.blueprint_cache_by_id[canonical_id] = json;\n    data.blueprint_cache[canonical_id] = json;\n    registerAlias(canonical_id, canonical_id);\n\n    const normPageType = normalizeKeySegment(json.page_type);\n    const postRaw = json.blueprint?.post_id ?? json.post_id;\n    const postIdStr = postRaw != null && String(postRaw).trim() !== '' ? String(postRaw).trim() : '';\n    if (postIdStr) {\n      registerAlias(`${requestId}:${normPageType}:post:${postIdStr}`, canonical_id);\n    }\n\n    const meta = json.meta && typeof json.meta === 'object' ? json.meta : {};\n    const primaryKeyword = meta.primary_keyword || json.primary_keyword;\n    const normPk = normalizeKeySegment(primaryKeyword);\n    if (normPageType && normPk) {\n      registerAlias(`${requestId}:${normPageType}:${normPk}`, canonical_id);\n    }\n  }\n\n  out.push({ json });\n}\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        0
      ],
      "id": "b5e3a9d3-2a3d-4c1b-9f5e-7d9f1c2d3e4f",
      "name": "Store Blueprint Cache"
    },
    {
      "parameters": {
        "jsCode": "// Decide which pages need an LLM retry\nconst data = $getWorkflowStaticData('global') || {};\nconst aliases = data.blueprint_cache_aliases || {};\nconst collisions = data.blueprint_cache_alias_collisions || {};\nif (!data.retry_fallback_cache || typeof data.retry_fallback_cache !== 'object') {\n  data.retry_fallback_cache = {};\n}\n\nfunction normalizeKeySegment(s) {\n  return String(s ?? '')\n    .trim()\n    .toLowerCase()\n    .replace(/\\s+/g, ' ')\n    .replace(/:/g, '-');\n}\n\nfunction isSevere(w) {\n  return /duplicate|repeated|generic|in your area|city repeated|is not registered|is not allowed|placeholder token|PRIMARY_KEYWORD|BUSINESS_NAME|CITY_REGION|NICHE_TOKEN|low content volume|Missing primary keyword/i.test(String(w || \"\"));\n}\n\nconst items = $input.all();\n\nreturn items.map(item => {\n  const j = item.json || {};\n  const warnings = Array.isArray(j.quality_warnings) ? j.quality_warnings : [];\n  const retry_count = typeof j.retry_count === \"number\" ? j.retry_count : 0;\n  const max_retries = 2;\n  const has_severe = warnings.some(isSevere);\n  const base_needs_retry = has_severe && retry_count < max_retries;\n\n  let needs_retry = base_needs_retry;\n  let retry_cache_key = '';\n  let retry_cache_id = '';\n  const extraWarnings = [];\n\n  if (base_needs_retry) {\n    const requestId = String(j.request_id || '').trim();\n    const blueprintIndex = j.blueprint_index;\n    const meta = j.meta && typeof j.meta === 'object' ? j.meta : {};\n    let primary_keyword = '';\n    if (meta.primary_keyword != null && String(meta.primary_keyword).trim() !== '') {\n      primary_keyword = String(meta.primary_keyword).trim();\n    } else if (j.primary_keyword != null && String(j.primary_keyword).trim() !== '') {\n      primary_keyword = String(j.primary_keyword).trim();\n    }\n    const normPageType = normalizeKeySegment(j.page_type);\n    const postRaw = j.blueprint?.post_id ?? j.post_id;\n    const postIdStr = postRaw != null && String(postRaw).trim() !== '' ? String(postRaw).trim() : '';\n    const normPk = normalizeKeySegment(primary_keyword);\n\n    const candidates = [];\n    const indexPart = blueprintIndex !== undefined && blueprintIndex !== null ? String(blueprintIndex) : '';\n    if (requestId && indexPart.trim() !== '') {\n      candidates.push(`${requestId}:${blueprintIndex}`);\n    }\n    if (requestId && normPageType && postIdStr) {\n      candidates.push(`${requestId}:${normPageType}:post:${postIdStr}`);\n    }\n    if (requestId && normPageType && normPk) {\n      candidates.push(`${requestId}:${normPageType}:${normPk}`);\n    }\n\n    const hitCollision = candidates.some(k => collisions[k]);\n    if (hitCollision) {\n      needs_retry = false;\n      extraWarnings.push('Retry skipped: alias collision for cache key.');\n    } else {\n      const resolved = [];\n      for (const k of candidates) {\n        const cid = aliases[k];\n        if (cid !== undefined && cid !== null && String(cid) !== '') {\n          resolved.push(String(cid));\n        }\n      }\n      const unique = [...new Set(resolved)];\n      if (unique.length > 1) {\n        needs_retry = false;\n        extraWarnings.push('Retry skipped: ambiguous cache key match.');\n      } else if (unique.length === 0) {\n        needs_retry = false;\n        extraWarnings.push('Retry skipped: missing cached blueprint for page_type + primary_keyword.');\n      } else {\n        retry_cache_id = unique[0];\n        for (const k of candidates) {\n          if (String(aliases[k] || '') === retry_cache_id) {\n            retry_cache_key = k;\n            break;\n          }\n        }\n        data.retry_fallback_cache[retry_cache_id] = item.json;\n        needs_retry = true;\n      }\n    }\n  }\n\n  const allWarnings = Array.from(new Set([...warnings, ...extraWarnings]));\n\n  const out = {\n    ...j,\n    needs_retry,\n    retry_count,\n    quality_warnings: allWarnings,\n    retry_instructions: needs_retry && allWarnings.length\n      ? \"Rewrite this entire page in valid JSON. Fix: \" + allWarnings.join(\" | \") + \" | Never output machine tokens like PRIMARY_KEYWORD, BUSINESS_NAME, or CITY_REGION as visible text\u2014use natural language with the real business name, city, and services from the blueprint. Meet word-depth requirements. Include required FAQ target updates when the blueprint specifies faq_target_count or faq_target_range.\"\n      : \"\",\n  };\n  if (needs_retry && retry_cache_id) {\n    out.retry_cache_key = retry_cache_key;\n    out.retry_cache_id = retry_cache_id;\n  }\n  return { json: out };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1620,
        0
      ],
      "id": "a2b1c3d4-e5f6-47a8-9b10-1c2d3e4f5a6b",
      "name": "Retry Decision"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.map(item => {\n  const j = item.json || {};\n  const updatesEmpty = !Array.isArray(j.updates) || j.updates.length === 0;\n  if (!updatesEmpty && j.needs_retry) {\n    const existing = Array.isArray(j.quality_warnings) ? j.quality_warnings : [];\n    j.quality_warnings = Array.from(new Set(existing.concat([\n      'Retry skipped: content already generated despite quality warnings.'\n    ])));\n    j.needs_retry = false;\n    j.retry_instructions = '';\n  }\n  return { json: j };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1730,
        0
      ],
      "id": "e8a1b2c3-d4e5-4f67-8a9b-0c1d2e3f4a5b",
      "name": "Retry Suppress If Content"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.needs_retry}}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1840,
        0
      ],
      "id": "c1d2e3f4-a5b6-47c8-9d10-2e3f4a5b6c7d",
      "name": "Retry Gate"
    },
    {
      "parameters": {
        "jsCode": "// Build retry input from cached blueprint (retry_cache_key first, then fallbacks)\nconst data = $getWorkflowStaticData('global') || {};\nconst aliases = data.blueprint_cache_aliases || {};\nconst collisions = data.blueprint_cache_alias_collisions || {};\nconst byId = data.blueprint_cache_by_id || {};\nconst fallbackCache = data.retry_fallback_cache || {};\n\nfunction normalizeKeySegment(s) {\n  return String(s ?? '')\n    .trim()\n    .toLowerCase()\n    .replace(/\\s+/g, ' ')\n    .replace(/:/g, '-');\n}\n\nconst j = $json || {};\nconst requestId = String(j.request_id || '').trim();\nconst blueprintIndex = j.blueprint_index;\nconst meta = j.meta && typeof j.meta === 'object' ? j.meta : {};\nlet primary_keyword = '';\nif (meta.primary_keyword != null && String(meta.primary_keyword).trim() !== '') {\n  primary_keyword = String(meta.primary_keyword).trim();\n} else if (j.primary_keyword != null && String(j.primary_keyword).trim() !== '') {\n  primary_keyword = String(j.primary_keyword).trim();\n}\nconst normPageType = normalizeKeySegment(j.page_type);\nconst postRaw = j.blueprint?.post_id ?? j.post_id;\nconst postIdStr = postRaw != null && String(postRaw).trim() !== '' ? String(postRaw).trim() : '';\nconst normPk = normalizeKeySegment(primary_keyword);\n\nconst seen = new Set();\nconst keysToTry = [];\nfunction addKey(k) {\n  const ks = k != null ? String(k).trim() : '';\n  if (!ks || seen.has(ks)) return;\n  seen.add(ks);\n  keysToTry.push(ks);\n}\n\nif (j.retry_cache_key != null && String(j.retry_cache_key).trim() !== '') {\n  addKey(j.retry_cache_key);\n}\nconst indexPart = blueprintIndex !== undefined && blueprintIndex !== null ? String(blueprintIndex) : '';\nif (requestId && indexPart.trim() !== '') {\n  addKey(`${requestId}:${blueprintIndex}`);\n}\nif (requestId && normPageType && postIdStr) {\n  addKey(`${requestId}:${normPageType}:post:${postIdStr}`);\n}\nif (requestId && normPageType && normPk) {\n  addKey(`${requestId}:${normPageType}:${normPk}`);\n}\n\nfunction resolveKey(aliasKey) {\n  if (!aliasKey || collisions[aliasKey]) return null;\n  const cid = aliases[aliasKey];\n  if (cid === undefined || cid === null || String(cid) === '') return null;\n  const canonical = String(cid);\n  const base = byId[canonical];\n  if (!base || typeof base !== 'object') return null;\n  return { canonical, base };\n}\n\nlet resolved = null;\nlet matchedKey = '';\nfor (const k of keysToTry) {\n  resolved = resolveKey(k);\n  if (resolved) {\n    matchedKey = k;\n    break;\n  }\n}\n\nconst preservedRetryCacheId = j.retry_cache_id != null && String(j.retry_cache_id).trim() !== ''\n  ? String(j.retry_cache_id).trim()\n  : '';\n\nif (resolved) {\n  const { canonical, base } = resolved;\n  const retry_count = (j.retry_count ?? base.retry_count ?? 0) + 1;\n  const out = {\n    ...base,\n    retry_instructions: j.retry_instructions || 'Fix quality warnings and ensure uniqueness',\n    retry_count,\n    retry_cache_miss: false,\n  };\n  out.retry_cache_id = preservedRetryCacheId || canonical;\n  if (matchedKey) out.retry_cache_key = matchedKey;\n  return [{ json: out }];\n}\n\nconst missId = preservedRetryCacheId;\nconst fb = missId && fallbackCache[missId] && typeof fallbackCache[missId] === 'object'\n  ? fallbackCache[missId]\n  : null;\n\nif (fb) {\n  const warnMsg = 'Retry cache miss: using stored original output.';\n  const qw = Array.isArray(fb.quality_warnings) ? [...fb.quality_warnings] : [];\n  if (!qw.includes(warnMsg)) qw.push(warnMsg);\n  return [{\n    json: {\n      ...fb,\n      needs_retry: false,\n      retry_cache_miss: true,\n      retry_instructions: '',\n      quality_warnings: qw,\n      ...(missId ? { retry_cache_id: missId } : {}),\n    },\n  }];\n}\n\nconst missWarnings = Array.isArray(j.quality_warnings) ? [...j.quality_warnings] : [];\nmissWarnings.push('Retry cache miss: fallback not found; using current item.');\nreturn [{\n  json: {\n    ...j,\n    needs_retry: false,\n    retry_cache_miss: true,\n    retry_instructions: '',\n    quality_warnings: missWarnings,\n    ...(missId ? { retry_cache_id: missId } : {}),\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2060,
        160
      ],
      "id": "d2e3f4a5-b6c7-48d9-0e1f-2a3b4c5d6e7f",
      "name": "Retry Input Builder"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.retry_cache_miss}}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2170,
        160
      ],
      "id": "e2d3c4b5-a6f7-4890-bcde-f1a2b3c4d5e6",
      "name": "Retry Cache Gate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json}}",
        "messages": {
          "messageValues": [
            {
              "message": "You are LeadsForward\u2019s deterministic website content engine.\n\nYou MUST output ONLY valid JSON that matches the required schema. No markdown. No commentary. No extra keys unless explicitly allowed.\n\nINPUT SHAPE\nYou will receive a JSON object with:\n- request_id, variation_seed, business_name, niche, city_region, keywords, writing_samples, business_entity\n- primary_keyword (string), secondary_keywords (array), style_profile (object)\n- system_message (optional), faq_strategy (optional), cta_strategy (optional), global_faq_pool (optional)\n- research_context (optional)\n- page_type\n- blueprint_index\n- blueprint (ONE page blueprint only)\n\nPRIORITY OVERRIDE\n0) If input.system_message is present, follow it exactly. If it conflicts with any instruction here, input.system_message wins.\n0b) If input.retry_instructions is present, fix every item and rewrite the page from scratch with no reused sentences.\n\nCRITICAL RULES (NON-NEGOTIABLE)\n1) Use ONLY niche = input.niche. Never introduce any other niche/service type.\n2) Use ONLY location = input.city_region. Never introduce any other city/region.\n3) Use ONLY business name = input.business_name.\n4) NEVER reuse content from previous runs or \u201ctypical examples\u201d.\n5) Generate content ONLY for input.blueprint (single page). Do not generate for other pages.\n6) Do not invent sections/fields. Write ONLY to keys that appear in blueprint.sections[].allowed_field_keys.\n7) If blueprint provides section_label, intent, purpose, field_labels, or field_types, use them to shape content for that section.\n7) For every section instance, write dot-notation fields using:\n   - Use blueprint.sections[].section_id as the prefix (example: \"hero.hero_headline\" or \"hero-1.hero_headline\").\n8) Write values for EVERY allowed_field_keys in EVERY section. Do not skip keys.\n9) List fields must be newline-delimited strings (not arrays).\n10) No placeholder text, no \u201cPortland\u201d, no \u201ccrawl space\u201d, no \u201clandscaping\u201d unless niche explicitly matches.\n10b) Avoid these generic phrases: \"delivers tailored solutions\", \"clear communication, clean execution\", \"long-lasting results\", \"fast response and clear pricing\", \"upfront pricing before work starts\", \"trusted local team\".\n11) HTML is allowed only inside richtext fields (use <p>, <ul>, <li>, <a>). All other fields must be plain text.\n12) Minimum total content: every page must contain at least 1000 words of unique body copy across all text/richtext fields. Expand each section with depth; do not pad with fluff or repetition.\n13) Always echo input.page_type as \"page_type\" in your output JSON. Hero headline must be unique per page and should incorporate blueprint.page_title or service/service_area context. Avoid the phrase \"in your area\" unless page_type is \"service_area\".\n14) CTA supporting text: for every CTA section, cta_subheadline_secondary must be exactly ONE sentence, non-empty, and unique across pages. Make it specific using page_type, primary_keyword, business_name, or city_region.\n15) CTA headline/subheadline: you MAY write cta_headline and cta_subheadline for every page. Make them unique per page and aligned to page_type.\n16) You MUST include a top-level \"meta\" object with primary_keyword, secondary_keywords, style_profile_id, business_name, and city_region echoed from input.\n17) Every section heading + intro field must be non-empty and unique across pages.\n17b) NEVER repeat the same sentence or paragraph anywhere within the page. If two sections sound similar, rewrite one completely.\n17c) Use blueprint.page_title and blueprint.sections[].section_id to keep headings distinct; do NOT reuse the hero headline in any other section.\n17d) City/region can appear at most ONCE per page (hero preferred). All other headings must avoid repeating the city.\n17e) CTA headline/subheadline must be unique per page and must not repeat the hero wording.\n18) Benefits section: write 3 lines in benefits_items using \"Title || Body\". Title <= 5 words; Body 10-14 words.\n19) Hero proof list: hero_proof_bullets must be exactly 3 lines, 3-5 words each, no punctuation.\n20) Process section: include process_steps (4-6 steps) and process_expectations (3-4 items) when allowed. For service pages, steps must reference the specific service but align with the core process.\n21) Related links section: intro must be service-only language (no areas).\n21b) Related links section has NO list field; do NOT output related_links_list.\n22) If any allowed field would be empty, generate a concise sentence using primary_keyword, business_name, or city_region.\n23) Process steps must use \"Title: description\" format for every line.\n24) For service/service_area pages, hero_headline must include the primary_keyword and a benefit/outcome (not just the location).\n25) For service_area pages, ensure content_image/image_content sections include unique section_heading, section_intro, and section_body.\n26) Service pages must include a 20-28 word overview sentence in hero_subheadline or section_intro to populate service intro cards.\n27) Internal linking: include 1-2 internal links in richtext fields using internal_links list. Use <a href=\"URL\">Label</a>. Do not invent URLs.\n\nQUALITY OBJECTIVES (DO NOT BREAK JSON RULES)\n- Human-sounding: vary sentence length and rhythm; avoid templated phrasing and cliches (\"We understand\", \"At [Company]\", \"In today's world\").\n- Sales-focused: emphasize outcomes, credibility, and next steps for homeowners; avoid fluff.\n- Local SEO: include the primary keyword naturally in the hero headline or subheadline; work in 1\u20132 secondary keywords across the page when appropriate; avoid keyword stuffing.\n- Uniqueness: no repeated sentences across page types; phrasing should feel custom to this business and location.\n- Use writing_samples (if provided) to match tone and diction, but never copy sentences verbatim.\n\nRESEARCH CONTEXT GUIDANCE\n- If research_context exists: Apply positioning and differentiation.\n- Use SEO entity strategy.\n- Avoid competitor phrasing.\n- Apply voice guidelines.\n- Use FAQ strategy angles.\n- Use content expansion depth guidance.\n\nTARGET ROUTING\n- If blueprint.page == \"homepage\": target=\"options\", id=\"homepage\"\n- If blueprint.page in [\"service\",\"service_area\",\"services_overview\",\"service_areas_overview\",\"about\",\"contact\",\"reviews\",\"blog\",\"sitemap\",\"privacy\",\"terms\",\"thank_you\",\"post\"]: target=\"post_meta\", id=blueprint.post_id\n- FAQ creation is REQUIRED when blueprint.faq_target_count or blueprint.faq_target_range is present:\n  - If faq_target_count exists: generate EXACTLY that many updates\n  - If faq_target_range exists: generate between min and max (inclusive)\n  - Return updates with target=\"faq\" and fields: question, answer (answers must be valid HTML <p>...</p>)\n\nCONTENT QUALITY RULES\n- Must match niche + location + business name everywhere.\n- Service pages must match the specific service title/slug for that post (use blueprint context only).\n- Avoid generic filler. Use concrete benefits, process, trust signals appropriate for the niche.\n\nOUTPUT FORMAT (EXACT)\nReturn JSON:\n{\n  \"ok\": true,\n  \"request_id\": \"<same request_id>\",\n  \"page_type\": \"<echo input.page_type>\",\n  \"meta\": {\n    \"primary_keyword\": \"<echo input.primary_keyword>\",\n    \"secondary_keywords\": <echo input.secondary_keywords>,\n    \"style_profile_id\": \"<echo input.style_profile.id>\",\n    \"business_name\": \"<echo input.business_name>\",\n    \"city_region\": \"<echo input.city_region>\"\n  },\n  \"updates\": [\n    { \"target\": \"...\", \"id\": \"...\", \"fields\": { \"section.field\":\"value\" } }\n  ]\n}\n"
            },
            {
              "type": "HumanMessagePromptTemplate",
              "message": "THEME SYSTEM MESSAGE (must follow if present):\n{{$json.system_message}}\n\nSTRATEGIES (if present):\nfaq_strategy={{$json.faq_strategy}}\ncta_strategy={{$json.cta_strategy}}\n\nRESEARCH CONTEXT (if present):\n{{$json.research_context}}\n\nSTYLE PROFILE:\n{{$json.style_profile}}\n\nPAGE FACTS (use in real sentences; never echo these as variable names or ALL_CAPS tokens):\n- business_name: {{$json.business_name}}\n- niche: {{$json.niche}}\n- city_region: {{$json.city_region}}\n- primary_keyword_for_seo: {{$json.primary_keyword}}\n- secondary_keywords: {{$json.secondary_keywords}}\n\nHOMEPAGE OPTIONS ROW: When emitting target \"options\" with id \"homepage\", field keys MUST match the theme registry (e.g. hero.hero_headline, hero.hero_subheadline, service_intro.*). Never use numbered pseudo-sections like hero-1.* or intro-1.* for options/homepage.\n\nFORBIDDEN in customer-facing copy: the literal strings PRIMARY_KEYWORD, BUSINESS_NAME, CITY_REGION, NICHE_TOKEN, or \"[Your City]\" as placeholders. Replace with real values above.\n\nFAQ REQUIREMENT: If the blueprint includes faq_target_count or faq_target_range, output that many updates with target \"faq\" and fields question + answer (answer must be HTML wrapped in <p> tags). Answers must be specific to this business and location.\n\nBLUEPRINT + PAYLOAD (this page only):\n{{$json}}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        2280,
        160
      ],
      "id": "e3f4a5b6-c7d8-49e0-1f2a-3b4c5d6e7f8a",
      "name": "LLM Retry Chain"
    },
    {
      "parameters": {
        "jsCode": "function pickRaw(input) {\n  if (typeof input === \"string\") return input;\n  if (typeof input?.text === \"string\") return input.text;\n  if (typeof input?.output === \"string\") return input.output;\n  if (typeof input?.response === \"string\") return input.response;\n  if (typeof input?.data?.text === \"string\") return input.data.text;\n  if (typeof input?.message?.content === \"string\") return input.message.content;\n  return input;\n}\n\nfunction deepClean(value) {\n  if (typeof value === \"string\") {\n    return value.split(String.fromCharCode(13)).join(String.fromCharCode(10));\n  }\n  if (Array.isArray(value)) return value.map(deepClean);\n  if (value && typeof value === \"object\") {\n    const cleaned = {};\n    for (const key in value) cleaned[key] = deepClean(value[key]);\n    return cleaned;\n  }\n  return value;\n}\n\nfunction stripHtml(value) {\n  return String(value || \"\")\n    .replace(/<[^>]*>/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction trimToWords(value, maxWords) {\n  const text = stripHtml(value);\n  if (!text) return \"\";\n  const words = text.split(/\\s+/);\n  if (words.length <= maxWords) return words.join(\" \");\n  return words.slice(0, maxWords).join(\" \");\n}\n\nfunction findPostMetaId(updates) {\n  const hit = updates.find(u => u?.target === \"post_meta\" && u?.id);\n  return hit?.id || null;\n}\n\nfunction pickShortDesc(updates) {\n  const suffixes = [\n    \".hero_subheadline\",\n    \".hero_supporting_text\",\n    \".section_intro\",\n    \".section_body\",\n    \".section_body_secondary\",\n  ];\n  for (const update of updates) {\n    const fields = update?.fields;\n    if (!fields || typeof fields !== \"object\") continue;\n    const keys = Object.keys(fields);\n    for (const suffix of suffixes) {\n      const key = keys.find(k => k.toLowerCase().endsWith(suffix));\n      if (!key) continue;\n      const value = trimToWords(fields[key], 28);\n      if (value) return value;\n    }\n  }\n  return \"\";\n}\n\nfunction parseJsonSafely(raw) {\n  if (typeof raw !== \"string\") return { ok: true, value: raw };\n\n  const candidates = [];\n  const trimmed = raw.trim();\n  candidates.push(trimmed);\n\n  const fence = trimmed.match(/```(?:json)?\\s*([\\s\\S]*?)\\s*```/i);\n  if (fence && fence[1]) candidates.push(fence[1].trim());\n\n  const firstBrace = trimmed.indexOf(\"{\");\n  const lastBrace = trimmed.lastIndexOf(\"}\");\n  if (firstBrace >= 0 && lastBrace > firstBrace) {\n    candidates.push(trimmed.slice(firstBrace, lastBrace + 1));\n  }\n\n  const repaired = trimmed.replace(/,\\s*}/g, \"}\").replace(/,\\s*]/g, \"]\");\n  candidates.push(repaired);\n\n  let lastError = null;\n  for (const candidate of candidates) {\n    try {\n      return { ok: true, value: JSON.parse(candidate) };\n    } catch (e) {\n      lastError = e;\n    }\n  }\n\n  return { ok: false, error: String(lastError?.message || \"Unable to parse JSON\") };\n}\n\n\nfunction substituteTemplateTokens(str, ctx) {\n  if (typeof str !== \"string\" || !str) return str;\n  const biz = String(ctx.business_name || \"\").trim();\n  const pk = String(ctx.primary_keyword || ctx.keywords?.primary || \"\").trim();\n  const city = String(ctx.city_region || ctx.city || \"\").trim();\n  const niche = String(ctx.niche || \"\").trim();\n  let out = str;\n  if (pk) {\n    out = out.split(\"PRIMARY_KEYWORD\").join(pk);\n  }\n  if (biz) {\n    out = out.split(\"BUSINESS_NAME\").join(biz);\n  }\n  if (city) {\n    out = out.split(\"CITY_REGION\").join(city);\n    out = out.split(\"[Your City]\").join(city);\n  }\n  if (niche) {\n    out = out.split(\"NICHE_TOKEN\").join(niche);\n  }\n  return out;\n}\n\nfunction substituteUpdatesTokens(updates, ctx) {\n  if (!Array.isArray(updates)) return updates;\n  return updates.map((u) => {\n    const next = { ...u };\n    const fields = next.fields && typeof next.fields === \"object\" ? { ...next.fields } : {};\n    for (const k of Object.keys(fields)) {\n      const v = fields[k];\n      if (typeof v === \"string\") fields[k] = substituteTemplateTokens(v, ctx);\n    }\n    next.fields = fields;\n    return next;\n  });\n}\n\nfunction parseOne(itemJson) {\n  const inputCtx = itemJson && typeof itemJson === \"object\" ? itemJson : {};\n  const requestIdHint = inputCtx.request_id || null;\n  const pageTypeHint = inputCtx.page_type || null;\n  const primaryHint = inputCtx.primary_keyword || \"\";\n  const secondaryHint = Array.isArray(inputCtx.secondary_keywords) ? inputCtx.secondary_keywords : [];\n  const businessHint = inputCtx.business_name || \"\";\n  const cityHint = inputCtx.city_region || \"\";\n  const styleHint = inputCtx.style_profile?.id || inputCtx.style_profile_id || \"\";\n\n  const raw = pickRaw(inputCtx);\n  const parsedResult = parseJsonSafely(raw);\n  if (!parsedResult.ok) {\n    return {\n      json: {\n        ok: false,\n        status: 500,\n        error: \"Invalid JSON from LLM\",\n        details: parsedResult.error,\n        page_type: pageTypeHint,\n        request_id: requestIdHint,\n        blueprint_index: inputCtx.blueprint_index ?? null,\n        retry_count: inputCtx.retry_count ?? 0,\n        retry_instructions: inputCtx.retry_instructions ?? \"\",\n        retry_cache_id: inputCtx.retry_cache_id != null && String(inputCtx.retry_cache_id).trim() !== \"\" ? String(inputCtx.retry_cache_id).trim() : \"\",\n        retry_cache_key: inputCtx.retry_cache_key != null && String(inputCtx.retry_cache_key).trim() !== \"\" ? String(inputCtx.retry_cache_key).trim() : \"\",\n        raw_preview: typeof raw === \"string\" ? raw.slice(0, 800) : null,\n      },\n    };\n  }\n\n  const parsed = parsedResult.value;\n  if (!parsed || typeof parsed !== \"object\" || parsed.ok === false || !Array.isArray(parsed.updates)) {\n    return {\n      json: {\n        ok: false,\n        status: 422,\n        error: \"Invalid payload\",\n        page_type: pageTypeHint,\n        request_id: requestIdHint,\n        blueprint_index: inputCtx.blueprint_index ?? null,\n        retry_count: inputCtx.retry_count ?? 0,\n        retry_instructions: inputCtx.retry_instructions ?? \"\",\n        retry_cache_id: inputCtx.retry_cache_id != null && String(inputCtx.retry_cache_id).trim() !== \"\" ? String(inputCtx.retry_cache_id).trim() : \"\",\n        retry_cache_key: inputCtx.retry_cache_key != null && String(inputCtx.retry_cache_key).trim() !== \"\" ? String(inputCtx.retry_cache_key).trim() : \"\",\n        parsed_preview: parsed,\n      },\n    };\n  }\n\n  const cleaned = deepClean(parsed);\n  let updates = (Array.isArray(cleaned.updates) ? cleaned.updates : []).map(u => ({\n    ...u,\n    fields: u?.fields ?? u?.data ?? {},\n  }));\n\n  const pageType = cleaned.page_type || pageTypeHint || null;\n  const blueprintPostId = parseInt(inputCtx?.blueprint?.post_id || cleaned?.blueprint?.post_id || 0, 10) || 0;\n  const safeTargets = new Set([\"options\", \"post_meta\", \"faq\", \"service_meta\"]);\n  const isHomepage = pageType === \"homepage\";\n\n  const sections = Array.isArray(inputCtx?.blueprint?.sections) ? inputCtx.blueprint.sections : [];\n\n  const allowedFieldMap = (() => {\n    const out = new Set();\n    for (const section of sections) {\n      const sectionId = section?.section_id;\n      const allowed = Array.isArray(section?.allowed_field_keys) ? section.allowed_field_keys : [];\n      if (!sectionId) continue;\n      for (const key of allowed) {\n        if (typeof key === \"string\" && key) out.add(`${sectionId}.${key}`);\n      }\n    }\n    return out;\n  })();\n\n  const allowedByTypeMap = (() => {\n    const out = {};\n    for (const section of sections) {\n      const type = section?.section_type;\n      const allowed = Array.isArray(section?.allowed_field_keys) ? section.allowed_field_keys : [];\n      if (!type) continue;\n      if (!out[type]) out[type] = new Set();\n      for (const key of allowed) {\n        if (typeof key === \"string\" && key) out[type].add(key);\n      }\n    }\n    return out;\n  })();\n\n  const allowedBare = (() => {\n    const out = new Set();\n    for (const section of sections) {\n      const allowed = Array.isArray(section?.allowed_field_keys) ? section.allowed_field_keys : [];\n      for (const key of allowed) {\n        if (typeof key === \"string\" && key) out.add(key);\n      }\n    }\n    return out;\n  })();\n\n  const sectionIdsByType = {};\n  const sectionTypesById = {};\n  for (const section of sections) {\n    const sid = String(section?.section_id || \"\");\n    const stype = String(section?.section_type || \"\");\n    if (!sid || !stype) continue;\n    sectionTypesById[sid] = stype;\n    if (!sectionIdsByType[stype]) sectionIdsByType[stype] = [];\n    sectionIdsByType[stype].push(sid);\n  }\n\n  const sectionAliasTypes = {\n    intro: [\"content\", \"content_centered\", \"content_image\", \"image_content\"],\n    about: [\"content\", \"content_centered\", \"content_image\", \"image_content\"],\n    about_snippet: [\"content\", \"content_centered\", \"content_image\", \"image_content\"],\n    services: [\"service_grid\", \"services_offered_here\", \"service_intro\", \"service_details\"],\n    services_overview: [\"service_grid\", \"services_offered_here\", \"service_intro\", \"service_details\"],\n    testimonials: [\"trust_bar\", \"trust_reviews\", \"reviews\", \"social_proof\"],\n    faq: [\"faq_accordion\"],\n    cta: [\"cta\"],\n    hero: [\"hero\"],\n  };\n\n  const exactFieldAliases = {\n    \"hero.hero_cta_primary\": \"hero.cta_primary_override\",\n    \"hero.hero_cta_secondary\": \"hero.cta_secondary_override\",\n    \"cta.cta_primary\": \"cta.cta_primary_override\",\n    \"cta.cta_secondary\": \"cta.cta_secondary_override\",\n    cta_primary: \"cta.cta_primary_override\",\n    cta_secondary: \"cta.cta_secondary_override\",\n  };\n\n  function isAllowedDotKey(key) {\n    if (!key.includes(\".\")) return false;\n    const parts = key.split(\".\", 2);\n    const prefix = parts[0];\n    const field = parts[1] || \"\";\n    const allowedById = allowedFieldMap.size === 0 || allowedFieldMap.has(key);\n    const allowedByType = !allowedByTypeMap[prefix] ? false : allowedByTypeMap[prefix].has(field);\n    return allowedById || allowedByType;\n  }\n\n  function normalizeDotKey(rawKey) {\n    if (typeof rawKey !== \"string\" || !rawKey.includes(\".\")) return rawKey;\n\n    let key = exactFieldAliases[rawKey] || rawKey;\n    let [rawPrefix, rawField] = key.split(\".\", 2);\n    let prefix = rawPrefix;\n    let field = rawField || \"\";\n\n    if (prefix === \"cta\") {\n      if (field === \"section_heading\") field = \"cta_headline\";\n      if (field === \"section_intro\" || field === \"section_subheadline\") field = \"cta_subheadline\";\n      if (field === \"cta_primary\") field = \"cta_primary_override\";\n      if (field === \"cta_secondary\") field = \"cta_secondary_override\";\n    }\n\n    const directKey = `${prefix}.${field}`;\n    if (isAllowedDotKey(directKey)) return directKey;\n\n    if (sectionIdsByType[prefix]?.length) {\n      for (const sid of sectionIdsByType[prefix]) {\n        const k = `${sid}.${field}`;\n        if (isAllowedDotKey(k)) return k;\n      }\n    }\n\n    const aliasTypes = sectionAliasTypes[prefix] || [];\n    for (const t of aliasTypes) {\n      const ids = sectionIdsByType[t] || [];\n      for (const sid of ids) {\n        const k = `${sid}.${field}`;\n        if (isAllowedDotKey(k)) return k;\n      }\n    }\n\n    for (const sid of Object.keys(sectionTypesById)) {\n      const k = `${sid}.${field}`;\n      if (isAllowedDotKey(k)) return k;\n    }\n\n    return null;\n  }\n\n  function filterFieldsByAllowed(fields) {\n    if (!fields || typeof fields !== \"object\") return fields;\n    const next = {};\n\n    for (const rawKey of Object.keys(fields)) {\n      const value = fields[rawKey];\n\n      if (rawKey.includes(\".\")) {\n        const normalized = normalizeDotKey(rawKey);\n        if (normalized) next[normalized] = value;\n        continue;\n      }\n\n      const aliasedBare = exactFieldAliases[rawKey] || rawKey;\n      if (typeof aliasedBare === \"string\" && aliasedBare.includes(\".\")) {\n        const normalized = normalizeDotKey(aliasedBare);\n        if (normalized) next[normalized] = value;\n      } else if (!allowedBare || allowedBare.size === 0 || allowedBare.has(aliasedBare)) {\n        next[aliasedBare] = value;\n      }\n    }\n\n    return next;\n  }\n\n  updates = updates\n    .map(update => {\n      const out = { ...update };\n      const targetRaw = typeof out.target === \"string\" ? out.target.trim() : \"\";\n\n      if (isHomepage) {\n        if (targetRaw === \"faq\") {\n          out.target = \"faq\";\n          return out;\n        }\n        out.target = \"options\";\n        out.id = \"homepage\";\n        return out;\n      }\n\n      if (!safeTargets.has(targetRaw) || targetRaw === \"options\") {\n        out.target = \"post_meta\";\n      } else {\n        out.target = targetRaw;\n      }\n\n      if (out.target === \"post_meta\" && (!out.id || out.id === 0) && blueprintPostId) out.id = blueprintPostId;\n      if (out.target === \"service_meta\" && (!out.id || out.id === 0) && blueprintPostId) out.id = blueprintPostId;\n\n      return out;\n    })\n    .map(out => {\n      if (out.target !== \"faq\") out.fields = filterFieldsByAllowed(out.fields);\n      return out;\n    })\n    .filter(out => {\n      if (out.target === \"options\") return true;\n      if (out.target === \"faq\") return true;\n      if (out.target === \"service_meta\") return !!out.id;\n      if (out.target === \"post_meta\") return !!out.id;\n      return false;\n    });\n\n  const meta = cleaned.meta && typeof cleaned.meta === \"object\" ? cleaned.meta : {};\n  if (!meta.primary_keyword && primaryHint) meta.primary_keyword = primaryHint;\n  if (!meta.secondary_keywords && secondaryHint.length) meta.secondary_keywords = secondaryHint;\n  if (!meta.business_name && businessHint) meta.business_name = businessHint;\n  if (!meta.city_region && cityHint) meta.city_region = cityHint;\n  if (!meta.style_profile_id && styleHint) meta.style_profile_id = styleHint;\n\n  updates = substituteUpdatesTokens(updates, inputCtx);\n\n    if (pageType === \"service\") {\n    const postId = findPostMetaId(updates);\n    const shortDesc = pickShortDesc(updates);\n    if (postId && shortDesc) {\n      updates.push({\n        target: \"service_meta\",\n        id: postId,\n        fields: { lf_service_short_desc: shortDesc },\n      });\n    }\n  }\n\n  return {\n    json: {\n      ok: true,\n      request_id: cleaned.request_id || requestIdHint,\n      blueprint_index: inputCtx.blueprint_index ?? null,\n      retry_count: inputCtx.retry_count ?? 0,\n      retry_instructions: inputCtx.retry_instructions ?? \"\",\n      page_type: pageType,\n      business_name: String(inputCtx.business_name || inputCtx?.variables?.business_name || inputCtx?.variables?.company_name || ''),\n      primary_keyword: primaryHint,\n      secondary_keywords: secondaryHint,\n      city: String(inputCtx.city || inputCtx?.variables?.city || inputCtx?.variables?.service_city || ''),\n      niche: String(inputCtx.niche || inputCtx?.variables?.niche || inputCtx?.variables?.industry || ''),\n      meta,\n      updates,\n      retry_cache_id: inputCtx.retry_cache_id != null && String(inputCtx.retry_cache_id).trim() !== \"\" ? String(inputCtx.retry_cache_id).trim() : \"\",\n      retry_cache_key: inputCtx.retry_cache_key != null && String(inputCtx.retry_cache_key).trim() !== \"\" ? String(inputCtx.retry_cache_key).trim() : \"\",\n    },\n  };\n}\n\nconst inputItems = $input.all();\nreturn inputItems.map(item => parseOne(item.json || {}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2500,
        160
      ],
      "id": "f4a5b6c7-d8e9-40f1-2a3b-4c5d6e7f8a9b",
      "name": "Retry Parse + Normalize + CTA Guard"
    },
    {
      "parameters": {
        "jsCode": "const data = $getWorkflowStaticData('global') || {};\nconst aliases = data.blueprint_cache_aliases || {};\nconst collisions = data.blueprint_cache_alias_collisions || {};\nconst byId = data.blueprint_cache_by_id || {};\n\nfunction normalizeKeySegment(s) {\n  return String(s ?? '')\n    .trim()\n    .toLowerCase()\n    .replace(/\\s+/g, ' ')\n    .replace(/:/g, '-');\n}\n\nfunction resolveCachedContext(ctx) {\n  const requestId = String(ctx.request_id || '').trim();\n  const blueprintIndex = ctx.blueprint_index;\n  const meta = ctx.meta && typeof ctx.meta === 'object' ? ctx.meta : {};\n  let primaryKeyword = '';\n  if (meta.primary_keyword != null && String(meta.primary_keyword).trim() !== '') {\n    primaryKeyword = String(meta.primary_keyword).trim();\n  } else if (ctx.primary_keyword != null && String(ctx.primary_keyword).trim() !== '') {\n    primaryKeyword = String(ctx.primary_keyword).trim();\n  }\n  const normPageType = normalizeKeySegment(ctx.page_type);\n  const postRaw = ctx.blueprint?.post_id ?? ctx.post_id;\n  const postIdStr = postRaw != null && String(postRaw).trim() !== '' ? String(postRaw).trim() : '';\n  const normPk = normalizeKeySegment(primaryKeyword);\n\n  const seen = new Set();\n  const keysToTry = [];\n  function addKey(k) {\n    const ks = k != null ? String(k).trim() : '';\n    if (!ks || seen.has(ks)) return;\n    seen.add(ks);\n    keysToTry.push(ks);\n  }\n\n  if (ctx.retry_cache_key != null && String(ctx.retry_cache_key).trim() !== '') {\n    addKey(ctx.retry_cache_key);\n  }\n  const indexPart = blueprintIndex !== undefined && blueprintIndex !== null ? String(blueprintIndex) : '';\n  if (requestId && indexPart.trim() !== '') {\n    addKey(`${requestId}:${blueprintIndex}`);\n  }\n  if (requestId && normPageType && postIdStr) {\n    addKey(`${requestId}:${normPageType}:post:${postIdStr}`);\n  }\n  if (requestId && normPageType && normPk) {\n    addKey(`${requestId}:${normPageType}:${normPk}`);\n  }\n\n  for (const k of keysToTry) {\n    if (collisions[k]) continue;\n    const cid = aliases[k];\n    if (cid === undefined || cid === null || String(cid) === '') continue;\n    const canonical = String(cid);\n    const base = byId[canonical];\n    return { canonical, matchedKey: k, base };\n  }\n  return null;\n}\n\nreturn $input.all().map((item) => {\n  const j = item.json || {};\n  if (!j.retry_cache_id || String(j.retry_cache_id).trim() === '') {\n    const resolved = resolveCachedContext(j);\n    if (resolved && resolved.canonical) {\n      j.retry_cache_id = resolved.canonical;\n      if (!j.retry_cache_key && resolved.matchedKey) j.retry_cache_key = resolved.matchedKey;\n      if (!j.blueprint && resolved.base?.blueprint) {\n        j.blueprint = resolved.base.blueprint;\n      }\n      if (!j.request_id && resolved.base?.request_id) j.request_id = resolved.base.request_id;\n      if (!j.page_type && resolved.base?.page_type) j.page_type = resolved.base.page_type;\n    }\n  }\n  return { json: j };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2600,
        160
      ],
      "id": "1f0d2e3c-4b5a-6c7d-8e9f-0a1b2c3d4e5f",
      "name": "Retry Cache Reattach"
    },
    {
      "parameters": {
        "jsCode": "// Quality Gate + SEO Enforcement (strict checks, no auto-repair)\nconst allItems = $input.all();\nif (!allItems.length) {\n  return [{ json: { ok: true, updates: [], quality_warnings: [\"No items for quality gate\"] } }];\n}\n\nconst upstreamFailures = allItems\n  .map(i => i?.json || {})\n  .filter(j => j && j.ok === false);\n\nconst items = allItems.filter(i => i?.json?.ok !== false);\n\nconst parseWarnings = upstreamFailures.map(f => {\n  const pageType = f.page_type || 'unknown';\n  const err = String(f.error || 'unknown_error');\n  const detail = String(f.details || '').trim();\n  return detail\n    ? `Dropped blueprint page_type=${pageType}: ${err} (${detail})`\n    : `Dropped blueprint page_type=${pageType}: ${err}`;\n});\n\nfunction normalizeText(value) {\n  return String(value || \"\").toLowerCase().replace(/\\s+/g, \" \").trim();\n}\n\nfunction wordCount(value) {\n  const text = String(value || \"\").trim();\n  if (!text) return 0;\n  return text.split(/\\s+/).length;\n}\n\nfunction containsKeyword(value, keyword) {\n  const hay = normalizeText(value);\n  const needle = normalizeText(keyword);\n  if (!needle) return false;\n  return hay.includes(needle);\n}\n\nfunction extractStrings(updates) {\n  const out = [];\n  for (const update of updates) {\n    const fields = update?.fields || {};\n    for (const key of Object.keys(fields)) {\n      const value = fields[key];\n      if (typeof value === \"string\") {\n        const trimmed = value.trim();\n        if (trimmed) out.push({ key, value: trimmed });\n      }\n    }\n  }\n  return out;\n}\n\nfunction splitSentences(text) {\n  return String(text || \"\")\n    .replace(/\\s+/g, \" \")\n    .split(/[.!?]\\s+/)\n    .map(s => s.trim())\n    .filter(s => s.length >= 16);\n}\n\nfunction detectDuplicateSentences(strings) {\n  const seen = new Set();\n  for (const { value } of strings) {\n    const sentences = splitSentences(value);\n    for (const s of sentences) {\n      const n = normalizeText(s);\n      if (!n) continue;\n      if (seen.has(n)) return true;\n      seen.add(n);\n    }\n  }\n  return false;\n}\n\nfunction detectDuplicateFields(strings) {\n  const seen = new Set();\n  for (const { value } of strings) {\n    const n = normalizeText(value);\n    if (!n) continue;\n    if (seen.has(n)) return true;\n    seen.add(n);\n  }\n  return false;\n}\n\nfunction detectCityRepeatInHeadings(strings, cityRegion) {\n  if (!cityRegion) return false;\n  const city = normalizeText(cityRegion);\n  let count = 0;\n  for (const { key, value } of strings) {\n    if (!/heading|headline|trust_heading|cta_headline/i.test(key)) continue;\n    if (normalizeText(value).includes(city)) count += 1;\n  }\n  return count > 1;\n}\n\nfunction detectInYourArea(strings, pageType) {\n  if (pageType === 'service_area') return false;\n  for (const { value } of strings) {\n    if (/\\bin your area\\b/i.test(value)) return true;\n  }\n  return false;\n}\n\n\nfunction detectForbiddenTokens(strings) {\n  const patterns = [/PRIMARY_KEYWORD/i, /BUSINESS_NAME/i, /CITY_REGION/i, /\\bNICHE_TOKEN\\b/i];\n  for (const { value } of strings) {\n    for (const re of patterns) {\n      if (re.test(value)) return true;\n    }\n  }\n  return false;\n}\n\nfunction detectGenericPhrases(strings) {\n  const patterns = [\n    /delivers tailored solutions/i,\n    /clear communication, clean execution/i,\n    /long-?lasting results/i,\n    /fast response and clear pricing/i,\n    /upfront pricing before work starts/i,\n    /trusted local team/i\n  ];\n  for (const { value } of strings) {\n    for (const re of patterns) {\n      if (re.test(value)) return true;\n    }\n  }\n  return false;\n}\n\nconst warnings = [];\nfor (const item of items) {\n  const json = item.json || {};\n  if (!json.ok || !Array.isArray(json.updates)) continue;\n\n  const meta = json.meta || {};\n  const primaryKeyword = String(meta.primary_keyword || \"\").trim();\n  const secondaryKeywords = Array.isArray(meta.secondary_keywords) ? meta.secondary_keywords : [];\n  const cityRegion = String(meta.city_region || \"\").trim();\n  const pageType = json.page_type || \"unknown\";\n\n  let totalWords = 0;\n  let primaryFound = false;\n  let secondaryFound = false;\n\n  const strings = extractStrings(json.updates);\n  for (const { value } of strings) {\n    totalWords += wordCount(value);\n    if (primaryKeyword && containsKeyword(value, primaryKeyword)) primaryFound = true;\n    if (!secondaryFound && secondaryKeywords.length) {\n      secondaryFound = secondaryKeywords.some(sk => containsKeyword(value, sk));\n    }\n  }\n\n  if (primaryKeyword && !primaryFound) warnings.push(`Missing primary keyword on ${pageType}.`);\n  if (secondaryKeywords.length && !secondaryFound) warnings.push(`Missing secondary keyword on ${pageType}.`);\n\n  if (detectDuplicateFields(strings)) warnings.push(`Duplicate fields detected on ${pageType}.`);\n  if (detectDuplicateSentences(strings)) warnings.push(`Repeated sentence detected on ${pageType}.`);\n  if (detectCityRepeatInHeadings(strings, cityRegion)) warnings.push(`City repeated in headings on ${pageType}.`);\n  if (detectInYourArea(strings, pageType)) warnings.push(`\"In your area\" detected on ${pageType}.`);\n  if (detectGenericPhrases(strings)) warnings.push(`Generic phrasing detected on ${pageType}.`);\nif (detectForbiddenTokens(strings)) warnings.push(`Placeholder tokens detected on ${pageType}.`);\n\nconst minTotal = pageType === 'homepage' ? 400 : (pageType === 'post' ? 500 : 260);\n  if (totalWords < minTotal) warnings.push(`Low content volume on ${pageType} (${totalWords} words).`);\n}\n\nconst allWarnings = Array.from(new Set(warnings.concat(parseWarnings)));\n\n// Attach warnings to every item (including ok:false) so Retry Decision can act.\nfor (const item of allItems) {\n  if (!item.json || typeof item.json !== 'object') item.json = {};\n  const existing = Array.isArray(item.json.quality_warnings) ? item.json.quality_warnings : [];\n  item.json.quality_warnings = Array.from(new Set(existing.concat(allWarnings)));\n}\n\nreturn allItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2720,
        160
      ],
      "id": "a5b6c7d8-e9f0-41a2-3b4c-5d6e7f8a9b0c",
      "name": "Retry Quality Gate + SEO Enforcement"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.ok}}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3600,
        0
      ],
      "id": "b7c8d9e0-f1a2-43b4-9c5d-6e7f8a9b0c1d",
      "name": "Callback Gate"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Research Document Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Document Gate": {
      "main": [
        [
          {
            "node": "Use Provided Research",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Research Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Generator": {
      "main": [
        [
          {
            "node": "Store Research Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Research Document": {
      "main": [
        [
          {
            "node": "Split Blueprints + Deterministic Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Provided Research": {
      "main": [
        [
          {
            "node": "Split Blueprints + Deterministic Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Trigger": {
      "main": [
        [
          {
            "node": "Callback Test Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback Test Payload": {
      "main": [
        [
          {
            "node": "Callback Test Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "LLM Retry Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model (Research)": {
      "ai_languageModel": [
        [
          {
            "node": "Research Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Parse + Normalize + CTA Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deterministic FAQ Enforcement": {
      "main": [
        [
          {
            "node": "Global Completeness + Blog Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse + Normalize + CTA Guard": {
      "main": [
        [
          {
            "node": "Quality Gate + SEO Enforcement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quality Gate + SEO Enforcement": {
      "main": [
        [
          {
            "node": "Retry Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Blueprints + Deterministic Metadata": {
      "main": [
        [
          {
            "node": "Blog Planner (post-only)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blog Planner (post-only)": {
      "main": [
        [
          {
            "node": "Store Blueprint Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Blueprint Results": {
      "main": [
        [
          {
            "node": "Attach Callback Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Callback Metadata": {
      "main": [
        [
          {
            "node": "Callback Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Global Completeness + Blog Gate": {
      "main": [
        [
          {
            "node": "Merge Blueprint Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Blueprint Cache": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Decision": {
      "main": [
        [
          {
            "node": "Retry Suppress If Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Suppress If Content": {
      "main": [
        [
          {
            "node": "Deterministic FAQ Enforcement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Gate": {
      "main": [
        [
          {
            "node": "Retry Input Builder",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Retry Input Builder": {
      "main": [
        [
          {
            "node": "Retry Cache Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Cache Gate": {
      "main": [
        [],
        [
          {
            "node": "LLM Retry Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Retry Chain": {
      "main": [
        [
          {
            "node": "Retry Parse + Normalize + CTA Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Parse + Normalize + CTA Guard": {
      "main": [
        [
          {
            "node": "Retry Cache Reattach",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Cache Reattach": {
      "main": [
        [
          {
            "node": "Retry Quality Gate + SEO Enforcement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Quality Gate + SEO Enforcement": {
      "main": [
        []
      ]
    },
    "Callback Gate": {
      "main": [
        [
          {
            "node": "Callback to WP",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "saveDataErrorExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  },
  "versionId": "481c1684-8a77-4196-9be8-31d90ad97dcd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e7698125f99b7edfc04e061fb8ae871f717a1f808af7255fa0fa408b5043699b"
  },
  "id": "1cyCKqEIu5JIcI3W",
  "tags": []
}
