docs/n8n-workflow.json
{
  "name": "LeadsForward \u2013 AI Content Orchestrator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "leadsforward-website-manifester",
        "responseMode": "onReceived",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -179,
        0
      ],
      "id": "c9d1af29-5c3d-46ab-b10c-9001b9cf27fe",
      "name": "Webhook",
      "webhookId": "3fe24f65-109d-4afd-906d-73c5115761df"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.body && $json.body.research_document ? true : ($json.research_document ? true : false)}}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -22,
        -196
      ],
      "id": "7f7b7d63-6f42-4d59-9db1-7a4f1f593c1e",
      "name": "Research Document Gate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json}}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a senior SEO strategist, CRO specialist, and competitive intelligence analyst.\n\nConduct deep research for the following project and return ONLY valid JSON matching the required schema.\n\nINPUT:\nBusiness name\nNiche\nPrimary city\nTarget services\nTarget service areas (if provided)\n\nRESEARCH OBJECTIVES:\nIdentify top 5 local competitors (organic + map pack).\nExtract content structure patterns from top-ranking sites.\nIdentify messaging gaps and overused patterns.\nExtract differentiators.\nDetermine conversion positioning strategy.\nIdentify tone patterns that appear human and authoritative.\nIdentify semantic keyword clusters.\nIdentify trust signal patterns.\nIdentify objections and FAQ angles.\nIdentify content weaknesses to exploit.\n\nOUTPUT FORMAT (STRICT JSON):\n{\n  \"brand_positioning\": {\n    \"market_angle\": \"\",\n    \"primary_differentiator\": \"\",\n    \"secondary_differentiators\": [],\n    \"authority_positioning\": \"\",\n    \"local_positioning_strategy\": \"\"\n  },\n  \"competitor_analysis\": [\n    {\n      \"competitor_name\": \"\",\n      \"strengths\": [],\n      \"weaknesses\": [],\n      \"content_patterns\": [],\n      \"seo_patterns\": []\n    }\n  ],\n  \"conversion_strategy\": {\n    \"primary_cta_style\": \"\",\n    \"emotional_drivers\": [],\n    \"trust_elements_required\": [],\n    \"risk_reduction_elements\": []\n  },\n  \"voice_guidelines\": {\n    \"tone\": \"\",\n    \"sentence_style\": \"\",\n    \"avoid_phrases\": [],\n    \"preferred_phrases\": [],\n    \"reading_level_target\": \"\"\n  },\n  \"seo_strategy\": {\n    \"primary_keyword_clusters\": [],\n    \"semantic_entities\": [],\n    \"supporting_topics\": [],\n    \"internal_linking_angles\": []\n  },\n  \"faq_strategy\": {\n    \"objection_clusters\": [],\n    \"high_intent_questions\": [],\n    \"authority_questions\": []\n  },\n  \"image_strategy\": {\n    \"recommended_image_types\": [],\n    \"placement_guidelines\": [],\n    \"alt_text_style\": \"\"\n  },\n  \"content_expansion_guidelines\": {\n    \"homepage_depth_strategy\": \"\",\n    \"service_page_depth_strategy\": \"\",\n    \"service_area_localization_strategy\": \"\"\n  }\n}\n\nReturn JSON only."
            },
            {
              "type": "HumanMessagePromptTemplate",
              "message": "INPUT:\nBusiness name: {{$json.business_name}}\nNiche: {{$json.niche}}\nPrimary city: {{$json.city_region}}\nTarget services: {{$json.keywords && $json.keywords.secondary ? $json.keywords.secondary : []}}\nTarget service areas: {{$json.business_entity && $json.business_entity.service_areas ? $json.business_entity.service_areas : []}}\n\nReturn JSON only."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        224,
        -196
      ],
      "id": "3c7b4b0c-8b36-4f3a-9e8f-1c02d5a13c9c",
      "name": "Research Generator"
    },
    {
      "parameters": {
        "jsCode": "// Store research document globally for this execution\nconst raw = $json || {};\n\nfunction pickRaw(input) {\n  if (typeof input === \"string\") return input;\n  if (!input || typeof input !== \"object\") return \"\";\n  if (typeof input.text === \"string\") return input.text;\n  if (typeof input.response === \"string\") return input.response;\n  if (typeof input.output === \"string\") return input.output;\n  if (typeof input.content === \"string\") return input.content;\n  if (input.message && typeof input.message === \"object\") {\n    if (typeof input.message.content === \"string\") return input.message.content;\n  }\n  return \"\";\n}\n\nlet research = {};\ntry {\n  const rawText = pickRaw(raw) || JSON.stringify(raw);\n  const parsed = JSON.parse(rawText);\n  if (parsed && typeof parsed === \"object\") {\n    research = parsed;\n  }\n} catch (e) {\n  research = {};\n}\n\nconst workflowData = $getWorkflowStaticData('global');\nworkflowData.research_document = research;\n\nconst payload = $node[\"Webhook\"].json.body ?? $node[\"Webhook\"].json;\nconst out = {\n  ...payload,\n  research_document: research\n};\n\nfunction buildProgressUrl(payload) {\n  const callbackUrl = payload.callback_url || (payload.body ? payload.body.callback_url : \"\");\n  if (!callbackUrl) return \"\";\n  return callbackUrl.replace('/orchestrator', '/progress');\n}\n\nfunction sendProgress(payload, percent, step, message) {\n  const progressUrl = buildProgressUrl(payload);\n  const jobId = payload.job_id || (payload.body ? payload.body.job_id : null);\n  if (!progressUrl || !jobId) {\n    return Promise.resolve();\n  }\n  return this.helpers.httpRequest({\n    method: 'POST',\n    url: progressUrl,\n    json: true,\n    body: {\n      job_id: jobId,\n      status: 'running',\n      percent,\n      step: step || '',\n      message: message || ''\n    }\n  }).then(() => null).catch(() => null);\n}\n\nreturn sendProgress(out, 25, 'Research ready', 'Research generated').then(() => [{ json: out }]);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        504,
        -196
      ],
      "id": "9c2f1c52-6f2f-4c67-9a63-2d4a4e0a9b6f",
      "name": "Store Research Document"
    },
    {
      "parameters": {
        "jsCode": "// Use provided research document from payload\nconst payload = $json.body ?? $json;\nconst provided = payload.research_document || (payload.body ? payload.body.research_document : {}) || {};\nconst research = (provided && typeof provided === \"object\") ? provided : {};\n\nconst workflowData = $getWorkflowStaticData('global');\nworkflowData.research_document = research;\n\nconst out = {\n  ...payload,\n  research_document: research\n};\n\nfunction buildProgressUrl(payload) {\n  const callbackUrl = payload.callback_url || (payload.body ? payload.body.callback_url : \"\");\n  if (!callbackUrl) return \"\";\n  return callbackUrl.replace('/orchestrator', '/progress');\n}\n\nfunction sendProgress(payload, percent, step, message) {\n  const progressUrl = buildProgressUrl(payload);\n  const jobId = payload.job_id || (payload.body ? payload.body.job_id : null);\n  const requestId = payload.request_id || payload.body?.request_id || \"\";\n  if (!progressUrl || !jobId || !requestId) {\n    return Promise.resolve();\n  }\n  return this.helpers.httpRequest({\n    method: 'POST',\n    url: progressUrl,\n    json: true,\n    body: {\n      job_id: jobId,\n      request_id: requestId,\n      status: 'running',\n      percent,\n      step: step || '',\n      message: message || ''\n    }\n  }).then(() => null).catch(() => null);\n}\n\nreturn sendProgress(out, 20, 'Research ready', 'Research provided').then(() => [{ json: out }]);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        84
      ],
      "id": "d2a1c4e0-8d64-4c4e-9c6f-1f8a9b2e3c4d",
      "name": "Use Provided Research"
    },
    {
      "parameters": {
        "jsCode": "const webhook = $json || {};\nconst defaultCallbackUrl = \"http://localhost:10008/wp-json/leadsforward/v1/orchestrator\";\nconst callbackUrl = webhook.callback_url || webhook.body?.callback_url || defaultCallbackUrl;\nconst callbackAuthHeader = webhook.headers?.authorization || webhook.headers?.Authorization || \"\";\n\nreturn [{\n  json: {\n    ok: true,\n    request_id: \"callback-test\",\n    updates: [],\n    callback_url: callbackUrl,\n    callback_auth_header: callbackAuthHeader,\n    callback_payload: {\n      payload: JSON.stringify({\n        ok: true,\n        request_id: \"callback-test\",\n        updates: [],\n        callback_url: callbackUrl\n      })\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -179,
        308
      ],
      "id": "b2f4b1c6-9b41-4a6a-9b3d-7a8d2e7e8a11",
      "name": "Callback Test Payload",
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{$json.callback_url}}",
        "method": "POST",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{$json.callback_auth_header}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "payload",
              "value": "={{$json.callback_payload?.payload || JSON.stringify($json)}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        168,
        308
      ],
      "id": "d9d1e0e6-1c71-4a69-bd7b-4c2e5f4f9c33",
      "name": "Callback Test Request",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json}}",
        "messages": {
          "messageValues": [
            {
              "message": "You are LeadsForward\u2019s deterministic website content engine.\n\nYou MUST output ONLY valid JSON that matches the required schema. No markdown. No commentary. No extra keys unless explicitly allowed.\n\nINPUT SHAPE\nYou will receive a JSON object with:\n- request_id, variation_seed, business_name, niche, city_region, keywords, writing_samples, business_entity\n- primary_keyword (string), secondary_keywords (array), style_profile (object)\n- system_message (optional), faq_strategy (optional), cta_strategy (optional), global_faq_pool (optional)\n- research_context (optional)\n- page_type\n- blueprint_index\n- blueprint (ONE page blueprint only)\n\nPRIORITY OVERRIDE\n0) If input.system_message is present, follow it exactly. If it conflicts with any instruction here, input.system_message wins.\n\nCRITICAL RULES (NON-NEGOTIABLE)\n1) Use ONLY niche = input.niche. Never introduce any other niche/service type.\n2) Use ONLY location = input.city_region. Never introduce any other city/region.\n3) Use ONLY business name = input.business_name.\n4) NEVER reuse content from previous runs or \u201ctypical examples\u201d.\n5) Generate content ONLY for input.blueprint (single page). Do not generate for other pages.\n6) Do not invent sections/fields. Write ONLY to keys that appear in blueprint.sections[].allowed_field_keys.\n7) For every section instance, write dot-notation fields using:\n   - Use blueprint.sections[].section_id as the prefix (example: \"hero.hero_headline\" or \"hero-1.hero_headline\").\n8) Write values for EVERY allowed_field_keys in EVERY section. Do not skip keys.\n9) List fields must be newline-delimited strings (not arrays).\n10) No placeholder text, no \u201cPortland\u201d, no \u201ccrawl space\u201d, no \u201clandscaping\u201d unless niche explicitly matches.\n11) HTML is allowed only inside richtext fields (use <p>, <ul>, <li>, <a>). All other fields must be plain text.\n12) Keep outputs concise enough to fit response limits. Prefer tight, high-signal copy. Avoid huge paragraphs.\n13) Always echo input.page_type as \"page_type\" in your output JSON.\n14) CTA supporting text: for every CTA section, cta_subheadline_secondary must be exactly ONE sentence, non-empty, and unique across pages. Make it specific using page_type, primary_keyword, business_name, or city_region.\n15) Global CTA fields (cta_headline, cta_subheadline, cta_primary_override, cta_secondary_override) are homepage-only; do not write them on non-homepage pages.\n16) You MUST include a top-level \"meta\" object with primary_keyword, secondary_keywords, style_profile_id, business_name, and city_region echoed from input.\n17) Every section heading + intro field must be non-empty and unique across pages.\n18) Benefits section: write 3 lines in benefits_items using \"Title || Body\". Title <= 5 words; Body 10-14 words.\n19) Hero proof list: hero_proof_bullets must be exactly 3 lines, 3-5 words each, no punctuation.\n20) Process section: include process_steps (4-6 steps) and process_expectations (3-4 items) when allowed. For service pages, steps must reference the specific service but align with the core process.\n21) Related links section: intro must be service-only language (no areas).\n22) If any allowed field would be empty, generate a concise sentence using primary_keyword, business_name, or city_region.\n23) Process steps must use \"Title: description\" format for every line.\n24) For service/service_area pages, hero_headline must include the primary_keyword and a benefit/outcome (not just the location).\n25) For service_area pages, ensure content_image/image_content sections include unique section_heading, section_intro, and section_body.\n26) Service pages must include a 20-28 word overview sentence in hero_subheadline or section_intro to populate service intro cards.\n27) Internal linking: include 1-2 internal links in richtext fields using internal_links list. Use <a href=\"URL\">Label</a>. Do not invent URLs.\n\nQUALITY OBJECTIVES (DO NOT BREAK JSON RULES)\n- Human-sounding: vary sentence length and rhythm; avoid templated phrasing and cliches (\"We understand\", \"At [Company]\", \"In today's world\").\n- Sales-focused: emphasize outcomes, credibility, and next steps for homeowners; avoid fluff.\n- Local SEO: include the primary keyword naturally in the hero headline or subheadline; work in 1\u20132 secondary keywords across the page when appropriate; avoid keyword stuffing.\n- Uniqueness: no repeated sentences across page types; phrasing should feel custom to this business and location.\n- Use writing_samples (if provided) to match tone and diction, but never copy sentences verbatim.\n\nRESEARCH CONTEXT GUIDANCE\n- If research_context exists: Apply positioning and differentiation.\n- Use SEO entity strategy.\n- Avoid competitor phrasing.\n- Apply voice guidelines.\n- Use FAQ strategy angles.\n- Use content expansion depth guidance.\n\nTARGET ROUTING\n- If blueprint.page == \"homepage\": target=\"options\", id=\"homepage\"\n- If blueprint.page in [\"service\",\"service_area\",\"services_overview\",\"service_areas_overview\",\"about\",\"contact\",\"reviews\",\"blog\",\"sitemap\",\"privacy\",\"terms\",\"thank_you\",\"post\"]: target=\"post_meta\", id=blueprint.post_id\n- FAQ creation is REQUIRED if blueprint.page == \"homepage\" AND blueprint.faq_target_count exists:\n  you MUST include exactly blueprint.faq_target_count updates with target=\"faq\" and fields: question, answer\n  (answers must be valid HTML <p>...</p>)\n- For non-homepage pages, do NOT output any target=\"faq\" updates (they will be injected deterministically for service/service_area/overview pages).\n\nCONTENT QUALITY RULES\n- Must match niche + location + business name everywhere.\n- Service pages must match the specific service title/slug for that post (use blueprint context only).\n- Avoid generic filler. Use concrete benefits, process, trust signals appropriate for the niche.\n\nOUTPUT FORMAT (EXACT)\nReturn JSON:\n{\n  \"ok\": true,\n  \"request_id\": \"<same request_id>\",\n  \"page_type\": \"<echo input.page_type>\",\n  \"meta\": {\n    \"primary_keyword\": \"<echo input.primary_keyword>\",\n    \"secondary_keywords\": <echo input.secondary_keywords>,\n    \"style_profile_id\": \"<echo input.style_profile.id>\",\n    \"business_name\": \"<echo input.business_name>\",\n    \"city_region\": \"<echo input.city_region>\"\n  },\n  \"updates\": [\n    { \"target\": \"...\", \"id\": \"...\", \"fields\": { \"section.field\":\"value\" } }\n  ]\n}\n"
            },
            {
              "type": "HumanMessagePromptTemplate",
              "message": "THEME SYSTEM MESSAGE (must follow if present):\n{{$json.system_message}}\n\nSTRATEGIES (if present):\nfaq_strategy={{$json.faq_strategy}}\ncta_strategy={{$json.cta_strategy}}\n\nRESEARCH CONTEXT (if present):\n{{$json.research_context}}\n\nSTYLE PROFILE:\n{{$json.style_profile}}\n\nPRIMARY KEYWORD:\n{{$json.primary_keyword}}\n\nSECONDARY KEYWORDS:\n{{$json.secondary_keywords}}\n\nGenerate page content for this blueprint only.\n\n{{$json}}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        381,
        0
      ],
      "id": "02e029ed-c3b2-421b-80d9-305df082453f",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2-chat-latest",
          "mode": "list",
          "cachedResultName": "gpt-5.2-chat-latest"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 3500
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        493,
        202
      ],
      "id": "fab4c233-c3fc-4a6f-b1be-9e00ce992c08",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "LUVAFdjXdClrVNSC",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2-chat-latest",
          "mode": "list",
          "cachedResultName": "gpt-5.2-chat-latest"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 3000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        493,
        -56
      ],
      "id": "9f7a7d5b-4f4d-4bdf-9f7f-3fe1e6536cf8",
      "name": "OpenAI Chat Model (Research)",
      "credentials": {
        "openAiApi": {
          "id": "LUVAFdjXdClrVNSC",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge Blueprint Results + Deterministic FAQ Enforcement (STATELESS)\n// IMPORTANT: Code node must be set to \"Run Once for All Items\"\n\nconst items = $input.all();\n\n// If upstream returned a single error item, just pass it through\nif (items.length === 1 && items[0]?.json?.ok === false) {\n  return items;\n}\n\n// Basic validation\nif (!items.length) {\n  return [{ json: { ok: false, status: 500, error: \"No items received to merge\" } }];\n}\n\nconst first = items[0].json || {};\nconst request_id = first.request_id || null;\n\n// ------------------------------\n// Helpers\n// ------------------------------\nfunction clamp(n, min, max) {\n  return Math.max(min, Math.min(max, n));\n}\n\nfunction normalizeText(value) {\n  return String(value || \"\")\n    .toLowerCase()\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction ensureParagraph(answer) {\n  const trimmed = String(answer || \"\").trim();\n  if (!trimmed) return \"\";\n  if (/<p[\\s>]/i.test(trimmed)) {\n    return trimmed;\n  }\n  return `<p>${trimmed}</p>`;\n}\n\nfunction faqRangeForPageType(pageType) {\n  if (pageType === \"service\") return { min: 4, max: 6 };\n  if (pageType === \"service_area\") return { min: 3, max: 5 };\n  if (pageType === \"services_overview\" || pageType === \"service_areas_overview\") return { min: 3, max: 4 };\n  // default for other non-homepage pages\n  return { min: 3, max: 4 };\n}\n\nconst faqEligible = new Set([\n  \"service\",\n  \"service_area\",\n  \"services_overview\",\n  \"service_areas_overview\"\n]);\n\nfunction deterministicSlice(pool, seedInt, count) {\n  if (!pool.length) return [];\n  const start = Math.abs(seedInt) % pool.length;\n  const out = [];\n  for (let i = 0; i < count; i++) {\n    out.push(pool[(start + i) % pool.length]);\n  }\n  return out;\n}\n\nconst ctaDescriptorByPageType = {\n  homepage: \"your project\",\n  service: \"this service\",\n  service_area: \"local service\",\n  services_overview: \"our services\",\n  service_areas_overview: \"coverage in your area\",\n  about: \"working with our team\"\n};\n\nconst ctaVariants = [\n  (desc) => `Get a fast, local response about ${desc}.`,\n  (desc) => `Talk with a specialist about ${desc} today.`,\n  (desc) => `Schedule a quick, no-pressure walkthrough for ${desc}.`,\n  (desc) => `Get clear timing and next steps for ${desc}.`,\n  (desc) => `Plan ${desc} with a trusted local team.`,\n  (desc) => `Get answers and a simple plan for ${desc}.`,\n  (desc) => `Start with a fast estimate for ${desc}.`,\n  (desc) => `Lock in a convenient window for ${desc}.`\n];\n\nfunction buildCtaSupport(pageType, seed) {\n  const desc = ctaDescriptorByPageType[pageType] || \"your project\";\n  const idx = Math.abs(seed) % ctaVariants.length;\n  return ctaVariants[idx](desc);\n}\n\n// ------------------------------\n// 1) Find homepage item + FAQ pool\n// ------------------------------\nconst homepageItem = items.find(i => i?.json?.page_type === \"homepage\");\nlet globalPool = [];\n\n// Prefer FAQ pool generated on homepage in this run\nif (homepageItem?.json?.updates?.length) {\n  const homepageFaq = homepageItem.json.updates.filter(u => u?.target === \"faq\");\n  if (homepageFaq.length) {\n    globalPool = homepageFaq.map(u => ({\n      question: u?.fields?.question || \"\",\n      answer: ensureParagraph(u?.fields?.answer || \"\")\n    })).filter(x => x.question && x.answer);\n  }\n}\n\n// Fallback: if WP payload already included a pool\nif (!globalPool.length && Array.isArray(first.global_faq_pool) && first.global_faq_pool.length) {\n  globalPool = first.global_faq_pool\n    .map(x => ({ question: x?.question || \"\", answer: ensureParagraph(x?.answer || \"\") }))\n    .filter(x => x.question && x.answer);\n}\n\n// ------------------------------\n// 2) Enforce FAQ on each non-homepage item BEFORE merge\n// ------------------------------\nfor (const it of items) {\n  const j = it.json || {};\n  if (!j.ok || !Array.isArray(j.updates)) continue;\n\n  const pageType = j.page_type || null;\n\n  // Homepage: allow as-is (it is canonical generator)\n  if (pageType === \"homepage\") continue;\n\n  if (!faqEligible.has(pageType)) {\n    j.updates = j.updates.filter(u => u?.target !== \"faq\");\n    continue;\n  }\n\n  // If no pool exists, do nothing (don\u2019t invent FAQs here)\n  if (!globalPool.length) {\n    // still strip any LLM-generated FAQs to avoid random drift\n    j.updates = j.updates.filter(u => u?.target !== \"faq\");\n    continue;\n  }\n\n  // Strip any LLM FAQ attempts\n  j.updates = j.updates.filter(u => u?.target !== \"faq\");\n\n  const seedInt = parseInt(j.variation_seed || first.variation_seed || \"1\", 10) || 1;\n  const { min, max } = faqRangeForPageType(pageType);\n\n  // deterministic count in range\n  const span = (max - min + 1);\n  const count = clamp(min + (Math.abs(seedInt) % span), min, max);\n\n  const sliced = deterministicSlice(globalPool, seedInt, count);\n\n  // Inject deterministic FAQs\n  for (const faq of sliced) {\n    j.updates.push({\n      target: \"faq\",\n      id: null,\n      fields: {\n        question: faq.question,\n        answer: ensureParagraph(faq.answer)\n      }\n    });\n  }\n}\n\n// ------------------------------\n// 3) Enforce unique CTA supporting sentences across pages\n// ------------------------------\nconst ctaSeen = new Set();\n\nitems.forEach((it, itemIndex) => {\n  const j = it.json || {};\n  if (!j.ok || !Array.isArray(j.updates)) return;\n\n  const pageType = j.page_type || null;\n\n  for (const update of j.updates) {\n    const fields = update?.fields;\n    if (!fields || typeof fields !== \"object\") continue;\n\n    for (const key of Object.keys(fields)) {\n      if (!key.endsWith(\".cta_subheadline_secondary\")) continue;\n\n      const raw = typeof fields[key] === \"string\" ? fields[key].trim() : \"\";\n      let normalized = normalizeText(raw);\n\n      if (pageType !== \"homepage\" && (!raw || ctaSeen.has(normalized))) {\n        let attempt = 0;\n        let candidate = \"\";\n        let candidateNorm = \"\";\n        do {\n          candidate = buildCtaSupport(pageType, itemIndex + attempt + 1);\n          candidateNorm = normalizeText(candidate);\n          attempt += 1;\n        } while (candidateNorm === \"\" || ctaSeen.has(candidateNorm));\n        fields[key] = candidate;\n        normalized = candidateNorm;\n      }\n\n      if (normalized !== \"\") {\n        ctaSeen.add(normalized);\n      }\n    }\n  }\n});\n\n// ------------------------------\n// 4) Merge all updates into one response payload\n// ------------------------------\nconst mergedUpdates = [];\nfor (const it of items) {\n  const j = it.json || {};\n  if (j.ok && Array.isArray(j.updates)) {\n    mergedUpdates.push(...j.updates);\n  }\n}\n\nreturn [{\n  json: {\n    ok: true,\n    request_id,\n    updates: mergedUpdates\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        179,
        426
      ],
      "id": "fa4077b7-e929-4af0-a80c-b44420cf4577",
      "name": "Deterministic FAQ Enforcement"
    },
    {
      "parameters": {
        "jsCode": "function pickRaw(input) {\n  if (typeof input === \"string\") return input;\n  if (typeof input?.text === \"string\") return input.text;\n  if (typeof input?.output === \"string\") return input.output;\n  if (typeof input?.response === \"string\") return input.response;\n  if (typeof input?.data?.text === \"string\") return input.data.text;\n  if (typeof input?.message?.content === \"string\") return input.message.content;\n  return input;\n}\n\nfunction deepClean(value) {\n  if (typeof value === \"string\") {\n    return value\n      .replace(/\r\n/g, \"\n\")\n      .replace(/\r/g, \"\n\");\n  }\n\n  if (Array.isArray(value)) return value.map(deepClean);\n\n  if (value && typeof value === \"object\") {\n    const cleaned = {};\n    for (const key in value) cleaned[key] = deepClean(value[key]);\n    return cleaned;\n  }\n\n  return value;\n}\n\nfunction stripHtml(value) {\n  return String(value || \"\")\n    .replace(/<[^>]*>/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction trimToWords(value, maxWords) {\n  const text = stripHtml(value);\n  if (!text) return \"\";\n  const words = text.split(/\\s+/);\n  if (words.length <= maxWords) return words.join(\" \");\n  return words.slice(0, maxWords).join(\" \");\n}\n\nfunction pickShortDesc(updates) {\n  const suffixes = [\n    \".hero_subheadline\",\n    \".hero_supporting_text\",\n    \".section_intro\",\n    \".section_body\",\n    \".section_body_secondary\"\n  ];\n  for (const update of updates) {\n    const fields = update?.fields;\n    if (!fields || typeof fields !== \"object\") continue;\n    const keys = Object.keys(fields);\n    for (const suffix of suffixes) {\n      const key = keys.find(k => k.toLowerCase().endsWith(suffix));\n      if (!key) continue;\n      const value = trimToWords(fields[key], 28);\n      if (value) return value;\n    }\n  }\n  return \"\";\n}\n\nfunction findPostMetaId(updates) {\n  const hit = updates.find(u => u?.target === \"post_meta\" && u?.id);\n  return hit?.id || null;\n}\n\nfunction parseJsonSafely(raw) {\n  if (typeof raw !== \"string\") {\n    return { ok: true, value: raw };\n  }\n\n  const candidates = [];\n  const trimmed = raw.trim();\n  candidates.push(trimmed);\n\n  const fence = trimmed.match(/```(?:json)?\\s*([\\s\\S]*?)\\s*```/i);\n  if (fence && fence[1]) candidates.push(fence[1].trim());\n\n  const firstBrace = trimmed.indexOf('{');\n  const lastBrace = trimmed.lastIndexOf('}');\n  if (firstBrace >= 0 && lastBrace > firstBrace) {\n    candidates.push(trimmed.slice(firstBrace, lastBrace + 1));\n  }\n\n  let lastError = null;\n  for (const candidate of candidates) {\n    try {\n      return { ok: true, value: JSON.parse(candidate) };\n    } catch (e) {\n      lastError = e;\n    }\n  }\n\n  return { ok: false, error: String(lastError?.message || 'Unable to parse JSON') };\n}\n\nconst inputCtx = $json && typeof $json === 'object' ? $json : {};\nconst requestIdHint = inputCtx.request_id || null;\nconst pageTypeHint = inputCtx.page_type || null;\nconst primaryHint = inputCtx.primary_keyword || '';\nconst secondaryHint = Array.isArray(inputCtx.secondary_keywords) ? inputCtx.secondary_keywords : [];\nconst businessHint = inputCtx.business_name || '';\nconst cityHint = inputCtx.city_region || '';\nconst styleHint = inputCtx.style_profile?.id || inputCtx.style_profile_id || '';\n\nconst raw = pickRaw($json);\nconst parsedResult = parseJsonSafely(raw);\nif (!parsedResult.ok) {\n  return [{\n    json: {\n      ok: false,\n      status: 500,\n      error: \"Invalid JSON from LLM\",\n      details: parsedResult.error,\n      page_type: pageTypeHint,\n      request_id: requestIdHint,\n      raw_preview: (typeof raw === \"string\") ? raw.slice(0, 800) : null\n    }\n  }];\n}\n\nconst parsed = parsedResult.value;\n\nif (!parsed || parsed.ok !== true || !Array.isArray(parsed.updates)) {\n  return [{\n    json: {\n      ok: false,\n      status: 422,\n      error: \"Invalid payload\",\n      page_type: pageTypeHint,\n      request_id: requestIdHint,\n      parsed_preview: parsed\n    }\n  }];\n}\n\nconst cleaned = deepClean(parsed);\nlet updates = (Array.isArray(cleaned.updates) ? cleaned.updates : []).map(u => ({\n  ...u,\n  fields: u?.fields ?? u?.data ?? {}\n}));\n\nconst pageType = cleaned.page_type || pageTypeHint || null;\n\nif (pageType && pageType !== \"homepage\") {\n  updates = updates.map(u => {\n    if (!u.fields) return u;\n    const safeFields = { ...u.fields };\n    delete safeFields.cta_headline;\n    delete safeFields.cta_subheadline;\n    delete safeFields.cta_primary_override;\n    delete safeFields.cta_secondary_override;\n    return { ...u, fields: safeFields };\n  });\n}\n\nconst meta = (cleaned.meta && typeof cleaned.meta === \"object\") ? cleaned.meta : {};\nif (!meta.primary_keyword && primaryHint) meta.primary_keyword = primaryHint;\nif (!meta.secondary_keywords && secondaryHint.length) meta.secondary_keywords = secondaryHint;\nif (!meta.business_name && businessHint) meta.business_name = businessHint;\nif (!meta.city_region && cityHint) meta.city_region = cityHint;\nif (!meta.style_profile_id && styleHint) meta.style_profile_id = styleHint;\n\nif (pageType === \"service\") {\n  const postId = findPostMetaId(updates);\n  const shortDesc = pickShortDesc(updates);\n  if (postId && shortDesc) {\n    updates.push({\n      target: \"service_meta\",\n      id: postId,\n      fields: {\n        lf_service_short_desc: shortDesc\n      }\n    });\n  }\n}\n\nreturn [{\n  json: {\n    ok: true,\n    request_id: cleaned.request_id || requestIdHint,\n    page_type: pageType,\n    meta,\n    updates\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        426
      ],
      "id": "2268d928-fa08-4a61-a14c-4482f72b162c",
      "name": "Parse + Normalize + CTA Guard"
    },
    {
      "parameters": {
        "jsCode": "// Quality Gate + SEO Enforcement (post-generation)\n// Fails the workflow if key quality rules are not met.\n\nconst items = $input.all();\n\nif (!items.length) {\n  return [{ json: { ok: false, status: 500, error: \"No items for quality gate\" } }];\n}\n\nconst upstreamFailures = items\n  .map(i => i?.json || {})\n  .filter(j => j && j.ok === false);\n\nif (upstreamFailures.length) {\n  return [{\n    json: {\n      ok: false,\n      status: 422,\n      error: \"Parse/validation failed for one or more blueprints\",\n      failed_count: upstreamFailures.length,\n      total_items: items.length,\n      details: upstreamFailures.slice(0, 8).map(f => ({\n        page_type: f.page_type || null,\n        error: f.error || 'unknown_error',\n        details: f.details || null,\n        raw_preview: typeof f.raw_preview === 'string' ? f.raw_preview.slice(0, 240) : null\n      }))\n    }\n  }];\n}\n\nfunction normalizeText(value) {\n  return String(value || \"\")\n    .toLowerCase()\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction wordCount(value) {\n  const text = String(value || \"\").trim();\n  if (!text) return 0;\n  return text.split(/\\s+/).length;\n}\n\nfunction containsKeyword(value, keyword) {\n  if (!keyword) return false;\n  const escaped = keyword.replace(/[.*+?^${}()|[\\]\\]/g, \"\\$&\");\n  const re = new RegExp(`\\b${escaped}\\b`, \"i\");\n  return re.test(String(value || \"\"));\n}\n\nfunction injectKeyword(fields, keyword, preferredSuffix) {\n  const priorityKeys = [\n    \".hero_headline\",\n    \".hero_subheadline\",\n    \".hero_supporting_text\",\n    \".section_heading\",\n    \".section_intro\",\n    \".section_body\",\n    \".section_body_secondary\"\n  ];\n\n  const keys = Object.keys(fields || {});\n  for (const suffix of priorityKeys) {\n    const key = keys.find(k => k.toLowerCase().endsWith(suffix));\n    if (!key) continue;\n    const value = String(fields[key] || \"\").trim();\n    if (!value) {\n      fields[key] = keyword;\n      return true;\n    }\n    if (!containsKeyword(value, keyword)) {\n      fields[key] = `${value} ${preferredSuffix || keyword}`.trim();\n      return true;\n    }\n  }\n  for (const key of keys) {\n    if (typeof fields[key] !== \"string\") continue;\n    const value = String(fields[key] || \"\").trim();\n    if (!containsKeyword(value, keyword)) {\n      fields[key] = `${value} ${preferredSuffix || keyword}`.trim();\n      return true;\n    }\n  }\n  return false;\n}\n\nfunction appendSentence(value, sentence) {\n  const trimmed = String(value || \"\").trim();\n  if (!trimmed) return sentence;\n  const spacer = /[.!?]$/.test(trimmed) ? \" \" : \". \";\n  return `${trimmed}${spacer}${sentence}`.trim();\n}\n\nfunction enforceUniqueness(fields, cityRegion, businessName) {\n  const seen = new Map();\n  const keys = Object.keys(fields || {});\n  for (const key of keys) {\n    if (typeof fields[key] !== \"string\") continue;\n    const value = String(fields[key] || \"\").trim();\n    if (!value) continue;\n    const normalized = normalizeText(value);\n    if (seen.has(normalized)) {\n      const suffix = cityRegion ? ` in ${cityRegion}` : (businessName ? ` with ${businessName}` : \"\");\n      fields[key] = `${value}${suffix}`.trim();\n    } else {\n      seen.set(normalized, true);\n    }\n  }\n}\n\nfunction minWordTarget(pageType) {\n  if (pageType === \"homepage\") return 140;\n  if ([\"sitemap\", \"privacy\", \"terms\", \"thank_you\"].includes(pageType)) return 60;\n  if ([\"contact\", \"reviews\", \"blog\", \"about\", \"services_overview\", \"service_areas_overview\"].includes(pageType)) return 80;\n  return 100;\n}\n\nconst errors = [];\n\nfor (const item of items) {\n  const json = item.json || {};\n  if (!json.ok || !Array.isArray(json.updates)) continue;\n\n  const meta = json.meta || {};\n  const primaryKeyword = String(meta.primary_keyword || \"\").trim();\n  const secondaryKeywords = Array.isArray(meta.secondary_keywords) ? meta.secondary_keywords : [];\n  const businessName = String(meta.business_name || \"\").trim();\n  const cityRegion = String(meta.city_region || \"\").trim();\n  const pageType = json.page_type || \"unknown\";\n\n  let totalWords = 0;\n  let primaryFound = false;\n  let secondaryFound = false;\n\n  for (const update of json.updates) {\n    const fields = update?.fields || {};\n    for (const key of Object.keys(fields)) {\n      const value = fields[key];\n      if (typeof value === \"string\") {\n        totalWords += wordCount(value);\n        if (primaryKeyword && containsKeyword(value, primaryKeyword)) primaryFound = true;\n        if (!secondaryFound && secondaryKeywords.length) {\n          secondaryFound = secondaryKeywords.some(sk => containsKeyword(value, sk));\n        }\n      }\n    }\n  }\n\n  if (primaryKeyword && !primaryFound) {\n    let injected = false;\n    for (const update of json.updates) {\n      if (injectKeyword(update.fields, primaryKeyword)) {\n        injected = true;\n        break;\n      }\n    }\n    if (!injected) errors.push(`Missing primary keyword on ${pageType}.`);\n  }\n\n  if (secondaryKeywords.length && !secondaryFound) {\n    const pick = String(secondaryKeywords[0] || \"\").trim();\n    if (pick) {\n      let injected = false;\n      for (const update of json.updates) {\n        const fields = update?.fields || {};\n        const keys = Object.keys(fields);\n        const key = keys.find(k => /section_body|section_intro|hero_supporting_text/i.test(k));\n        if (!key || typeof fields[key] !== \"string\") continue;\n        fields[key] = appendSentence(fields[key], `${pick} is available for local homeowners.`);\n        injected = true;\n        break;\n      }\n      if (!injected) errors.push(`Missing secondary keyword on ${pageType}.`);\n    }\n  }\n\n  for (const update of json.updates) {\n    enforceUniqueness(update.fields, cityRegion, businessName);\n  }\n\n  const minTotal = minWordTarget(pageType);\n  if (totalWords < minTotal) errors.push(`Low content volume on ${pageType} (${totalWords} words).`);\n}\n\nif (errors.length) {\n  return [{\n    json: {\n      ok: false,\n      status: 422,\n      error: \"Quality gate failed\",\n      details: errors\n    }\n  }];\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        28,
        426
      ],
      "id": "8f3d9b9a-9d3d-4eaa-9c2a-78f9c6f5e3b5",
      "name": "Quality Gate + SEO Enforcement"
    },
    {
      "parameters": {
        "jsCode": "// Split FULL payload into ONE-blueprint-per-item for the LLM\n// Hardened: preserves full blueprint structure including sections\n\nconst raw = $json.body ?? $json;\nconst payload = raw.body ?? raw;\n\nif (!payload || !Array.isArray(payload.blueprints)) {\n  return [{\n    json: {\n      ok: false,\n      status: 400,\n      error: \"Invalid payload: missing blueprints[]\"\n    }\n  }];\n}\n\nconst homepageBlueprint = payload.blueprints.find(bp => {\n  const pageType = bp?.page_type || bp?.page;\n  return pageType === \"homepage\";\n});\n\nconst blueprintFaqPool = Array.isArray(homepageBlueprint?.faqs)\n  ? homepageBlueprint.faqs\n  : [];\nconst payloadFaqPool = Array.isArray(payload.global_faq_pool)\n  ? payload.global_faq_pool\n  : [];\n\nconst system_message = typeof payload.system_message === \"string\"\n  ? payload.system_message\n  : \"\";\nconst faq_strategy = payload.faq_strategy ?? {};\nconst cta_strategy = payload.cta_strategy ?? {};\nconst workflowData = $getWorkflowStaticData('global') || {};\nconst research_document = workflowData.research_document && typeof workflowData.research_document === 'object'\n  ? workflowData.research_document\n  : {};\n\nfunction buildResearchContext(doc) {\n  if (!doc || typeof doc !== 'object') return {};\n  const allowed = [\n    'brand_positioning',\n    'conversion_strategy',\n    'voice_guidelines',\n    'seo_strategy',\n    'faq_strategy',\n    'content_expansion_guidelines'\n  ];\n  const out = {};\n  for (const key of allowed) {\n    if (doc[key]) out[key] = doc[key];\n  }\n  return out;\n}\n\nconst research_context = buildResearchContext(research_document);\n\nfunction buildProgressUrl(payload) {\n  const callbackUrl = payload.callback_url || (payload.body ? payload.body.callback_url : \"\");\n  if (!callbackUrl) return \"\";\n  return callbackUrl.replace('/orchestrator', '/progress');\n}\n\nfunction sendProgress(payload, percent, step, message) {\n  const progressUrl = buildProgressUrl(payload);\n  const jobId = payload.job_id || (payload.body ? payload.body.job_id : null);\n  if (!progressUrl || !jobId) {\n    return Promise.resolve();\n  }\n  return this.helpers.httpRequest({\n    method: 'POST',\n    url: progressUrl,\n    json: true,\n    body: {\n      job_id: jobId,\n      status: 'running',\n      percent,\n      step: step || \"\",\n      message: message || \"\"\n    }\n  }).then(() => null).catch(() => null);\n}\n\n\nconst styleProfiles = [\n  {\n    id: \"authority\",\n    label: \"Authority\",\n    guidance: \"Confident, expert, precise. Short openers, concrete claims, strong trust signals.\"\n  },\n  {\n    id: \"warm_local\",\n    label: \"Warm Local\",\n    guidance: \"Neighborly, reassuring, practical. Emphasize care for the home and clear next steps.\"\n  },\n  {\n    id: \"premium\",\n    label: \"Premium\",\n    guidance: \"Polished, premium, quality-first. Focus on craftsmanship, clean process, concierge experience.\"\n  },\n  {\n    id: \"direct\",\n    label: \"Direct\",\n    guidance: \"Straightforward, action-oriented. Fast reads, benefit-first, minimal fluff.\"\n  }\n];\n\nfunction seedToInt(seed) {\n  const str = String(seed || \"\");\n  let hash = 0;\n  for (let i = 0; i < str.length; i++) {\n    hash = ((hash << 5) - hash) + str.charCodeAt(i);\n    hash |= 0;\n  }\n  return Math.abs(hash);\n}\n\nfunction pickStyleProfile(pageType, seedInt, idx) {\n  const typeWeight = pageType ? pageType.length : 0;\n  const index = (seedInt + (idx * 13) + typeWeight) % styleProfiles.length;\n  return styleProfiles[index];\n}\n\n// Deterministic seed\nfunction generateDeterministicSeed(input) {\n  const base = `${input.business_name || \"\"}|${input.city_region || \"\"}|${input.niche || \"\"}`;\n  let hash = 0;\n  for (let i = 0; i < base.length; i++) {\n    hash = ((hash << 5) - hash) + base.charCodeAt(i);\n    hash |= 0;\n  }\n  return Math.abs(hash).toString();\n}\n\nconst variation_seed =\n  payload.variation_seed ||\n  generateDeterministicSeed(payload);\n\nconst seedInt = seedToInt(variation_seed);\n\nreturn sendProgress(payload, 40, 'Generating content', 'Content generation started').then(() => payload.blueprints.map((bp, idx) => {\n\n  if (!bp || !Array.isArray(bp.sections)) {\n    return {\n      json: {\n        ok: false,\n        error: \"Blueprint missing sections array\",\n        blueprint_index: idx\n      }\n    };\n  }\n\n  const page_type =\n    bp.page_type ||\n    bp.page ||\n    \"unknown\";\n\n  const keywordFallbackPages = [\"homepage\", \"services_overview\", \"service_areas_overview\"];\n  let primary_keyword = String(bp.primary_keyword || \"\").trim();\n  if (!primary_keyword && keywordFallbackPages.includes(page_type)) {\n    primary_keyword = String(payload.keywords?.primary || \"\").trim();\n  }\n  let secondary_keywords = Array.isArray(bp.secondary_keywords)\n    ? bp.secondary_keywords\n    : [];\n  if (!secondary_keywords.length && keywordFallbackPages.includes(page_type)) {\n    secondary_keywords = Array.isArray(payload.keywords?.secondary) ? payload.keywords.secondary : [];\n  }\n\n  const style_profile = pickStyleProfile(page_type, seedInt, idx);\n\n  return {\n    json: {\n      request_id: payload.request_id || null,\n      variation_seed,\n      business_name: payload.business_name || \"\",\n      niche: payload.niche || \"\",\n      city_region: payload.city_region || \"\",\n      keywords: payload.keywords || {},\n      primary_keyword,\n      secondary_keywords,\n      style_profile,\n      writing_samples: payload.writing_samples || [],\n      business_entity: payload.business_entity || {},\n      global_faq_pool: payloadFaqPool.length\n        ? payloadFaqPool\n        : blueprintFaqPool,\n      system_message,\n      faq_strategy,\n      cta_strategy,\n      research_context,\n      blueprint_index: idx,\n      page_type,\n      global_write_rules: {\n        cta_global_write_allowed: page_type === \"homepage\",\n        faq_global_write_allowed: page_type === \"homepage\"\n      },\n      blueprint: bp // PASS FULL OBJECT\n    }\n  };\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        134,
        0
      ],
      "id": "f3930d2d-52a3-4411-8a9d-a8c974d4ba44",
      "name": "Split Blueprints + Deterministic Metadata"
    },
    {
      "parameters": {
        "jsCode": "// Merge all blueprint results into one final payload\n\nconst items = $input.all();\n\nlet mergedUpdates = [];\nlet requestId = null;\n\nfor (const item of items) {\n  const json = item.json;\n\n  if (json.request_id) {\n    requestId = json.request_id;\n  }\n\n  if (Array.isArray(json.updates)) {\n    mergedUpdates = mergedUpdates.concat(json.updates);\n  }\n}\n\nconst webhook = $node[\"Webhook\"].json || {};\nconst progressPayload = webhook.body ?? webhook;\n\nfunction buildProgressUrl(payload) {\n  const callbackUrl = payload.callback_url || (payload.body ? payload.body.callback_url : \"\");\n  if (!callbackUrl) return \"\";\n  return callbackUrl.replace('/orchestrator', '/progress');\n}\n\nfunction sendProgress(payload, percent, step, message, requestId) {\n  const progressUrl = buildProgressUrl(payload);\n  const jobId = payload.job_id || (payload.body ? payload.body.job_id : null);\n  if (!progressUrl || !jobId || !requestId) {\n    return Promise.resolve();\n  }\n  return this.helpers.httpRequest({\n    method: 'POST',\n    url: progressUrl,\n    json: true,\n    body: {\n      job_id: jobId,\n      request_id: requestId,\n      status: 'running',\n      percent,\n      step: step || '',\n      message: message || ''\n    }\n  }).then(() => null).catch(() => null);\n}\n\nreturn sendProgress(progressPayload, 85, 'Finalizing', 'Merging results', requestId).then(() => [{\n  json: {\n    ok: true,\n    request_id: requestId,\n    updates: mergedUpdates\n  }\n}]);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        470,
        426
      ],
      "id": "c3bbf996-9ce8-4335-a67e-8337eb20f24b",
      "name": "Merge Blueprint Results"
    },
    {
      "parameters": {
        "jsCode": "const webhook = $node[\"Webhook\"].json || {};\nconst jobId = webhook.job_id || webhook.body?.job_id || $json?.job_id || null;\nconst callbackUrl = webhook.callback_url || webhook.body?.callback_url || $json?.callback_url || \"\";\nconst requestId = $json?.request_id || webhook.request_id || webhook.body?.request_id || \"\";\nconst authHeader = webhook.headers?.authorization || webhook.headers?.Authorization || \"\";\n\nconst callbackBodyObj = {\n  ...$json,\n  job_id: jobId,\n  request_id: requestId,\n  callback_url: callbackUrl\n};\n\nreturn [{\n  json: {\n    ...callbackBodyObj,\n    callback_payload: { payload: JSON.stringify(callbackBodyObj) },\n    callback_auth_header: authHeader\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        728,
        426
      ],
      "id": "e9b4c5a7-8a33-4e6f-9c5b-b3e6f9a1f0d4",
      "name": "Attach Callback Metadata"
    },
    {
      "parameters": {
        "url": "={{$json.callback_url}}",
        "method": "POST",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{$json.callback_auth_header}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "payload",
              "value": "={{$json.callback_payload?.payload || JSON.stringify($json)}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1008,
        426
      ],
      "id": "c0b5c159-7a7f-4d58-b7c1-1a7a2a1e3b42",
      "name": "Callback to WP"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (!items.length) {\n  return [{ json: { ok: false, status: 500, error: 'No items for global completeness gate.' } }];\n}\n\nconst upstreamFailures = items\n  .map(item => item?.json || {})\n  .filter(j => j && j.ok === false);\n\nif (upstreamFailures.length) {\n  const firstFailure = upstreamFailures[0] || {};\n  const upstreamError = String(firstFailure.error || 'Unknown upstream generation error').trim();\n  const detailSource = firstFailure.details ?? firstFailure.raw_preview ?? '';\n  const upstreamDetails = typeof detailSource === 'string'\n    ? detailSource.trim()\n    : JSON.stringify(detailSource || {});\n  const detailText = upstreamDetails ? ` | details: ${upstreamDetails}` : '';\n  throw new Error(`Upstream generation failed before completeness checks: ${upstreamError}${detailText}`);\n}\n\nfunction wordCount(v) {\n  const t = String(v || '').replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\n  return t ? t.split(' ').length : 0;\n}\n\nfunction normalized(v) {\n  return String(v || '').toLowerCase().replace(/\\s+/g, ' ').trim();\n}\n\nconst genericFlags = [\n  'short overview of',\n  'sample project created during site generation',\n  'what to expect',\n  'placeholder',\n  'lorem ipsum'\n];\n\nfunction hasGenericText(text) {\n  const n = normalized(text);\n  return genericFlags.some(flag => n.includes(flag));\n}\n\nfunction toBool(value, fallback = false) {\n  if (value === true || value === 1 || value === '1') return true;\n  if (value === false || value === 0 || value === '0') return false;\n  return fallback;\n}\n\nconst webhook = $node['Webhook'].json || {};\nconst payload = webhook.body ?? webhook;\nconst manifestScopeMode = String(payload.generation_scope || '').trim().toLowerCase();\nconst scopeObject = (payload.generation_scope && typeof payload.generation_scope === 'object')\n  ? payload.generation_scope\n  : {};\n\nconst scope = manifestScopeMode === 'homepage_only'\n  ? {\n      homepage: true,\n      services: false,\n      service_areas: false,\n      core_pages: false,\n      blog_posts: false,\n      projects: false\n    }\n  : {\n      homepage: toBool(scopeObject.homepage, true),\n      services: toBool(scopeObject.services, true),\n      service_areas: toBool(scopeObject.service_areas, true),\n      core_pages: toBool(scopeObject.core_pages, true),\n      blog_posts: toBool(scopeObject.blog_posts, true),\n      projects: toBool(scopeObject.projects, true)\n    };\n\nconst warnings = [];\nconst pageTypeCounts = {};\n\nconst isMergedPayload = items.length === 1\n  && Array.isArray(items[0]?.json?.updates)\n  && String(items[0]?.json?.page_type || '').trim() === '';\n\nif (isMergedPayload) {\n  const merged = items[0].json || {};\n  const updates = Array.isArray(merged.updates) ? merged.updates : [];\n  const targetCounts = {};\n\n  for (const update of updates) {\n    const target = String(update?.target || 'unknown').trim() || 'unknown';\n    targetCounts[target] = (targetCounts[target] || 0) + 1;\n  }\n\n  const homepageProduced = updates.some(update =>\n    String(update?.target || '') === 'options' && String(update?.id || '') === 'homepage'\n  );\n\n  const nonHomepageNonFaqUpdates = updates.filter(update => {\n    const target = String(update?.target || '');\n    const id = String(update?.id || '');\n    if (target === 'faq') return false;\n    if (target === 'options' && id === 'homepage') return false;\n    return true;\n  });\n\n  if (scope.homepage && !homepageProduced) {\n    throw new Error('Global completeness gate failed: homepage scope is enabled but merged updates did not include options/homepage fields.');\n  }\n\n  if ((scope.services || scope.service_areas || scope.core_pages || scope.blog_posts || scope.projects)\n      && nonHomepageNonFaqUpdates.length === 0) {\n    warnings.push(`Scope mismatch: non-homepage pages requested but merged updates only include homepage/faq. update_targets=${JSON.stringify(targetCounts)}`);\n  }\n\n  merged.quality_warnings = Array.isArray(merged.quality_warnings)\n    ? Array.from(new Set(merged.quality_warnings.concat(warnings)))\n    : warnings;\n  merged.page_type_counts = merged.page_type_counts || {};\n  merged.update_target_counts = targetCounts;\n  merged.scope_mismatch = warnings.length > 0;\n  return [{ json: merged }];\n}\n\nfor (const item of items) {\n  const j = item.json || {};\n  const pageType = String(j.page_type || '').trim();\n  if (pageType) {\n    pageTypeCounts[pageType] = (pageTypeCounts[pageType] || 0) + 1;\n  }\n\n  if (!j.ok || !Array.isArray(j.updates) || !j.updates.length) {\n    warnings.push(`Missing updates for page_type=${pageType || 'unknown'}`);\n    continue;\n  }\n\n  let pageWords = 0;\n  let hasPrimary = false;\n  const primary = String(j?.meta?.primary_keyword || '').trim();\n\n  for (const update of j.updates) {\n    if (!update || !update.fields || typeof update.fields !== 'object') continue;\n    for (const key of Object.keys(update.fields)) {\n      const value = update.fields[key];\n      if (typeof value !== 'string') continue;\n      pageWords += wordCount(value);\n      if (primary && normalized(value).includes(normalized(primary))) {\n        hasPrimary = true;\n      }\n      if (hasGenericText(value)) {\n        warnings.push(`Generic placeholder phrase found in ${pageType || 'unknown'} field ${key}`);\n      }\n    }\n  }\n\n  if (primary && !hasPrimary) {\n    warnings.push(`Primary keyword missing in content body for ${pageType || 'unknown'}`);\n  }\n\n  const minWords = pageType === 'post' ? 450 : (pageType === 'homepage' ? 180 : 120);\n  if (pageWords < minWords) {\n    warnings.push(`Low content volume for ${pageType || 'unknown'} (${pageWords} words, min ${minWords})`);\n  }\n}\n\nif (scope.homepage && !pageTypeCounts.homepage) {\n  throw new Error('Global completeness gate failed: homepage scope is enabled but no homepage blueprints were produced.');\n}\nif (scope.services && !pageTypeCounts.service) {\n  warnings.push('Scope mismatch: services enabled but no service blueprints were produced.');\n}\nif (scope.service_areas && !pageTypeCounts.service_area) {\n  warnings.push('Scope mismatch: service_areas enabled but no service_area blueprints were produced.');\n}\nif (scope.core_pages) {\n  const required = ['about', 'contact'];\n  for (const type of required) {\n    if (!pageTypeCounts[type]) {\n      warnings.push(`Scope mismatch: core_pages enabled but missing page_type=${type}`);\n    }\n  }\n}\nif (scope.blog_posts) {\n  const blogCount = pageTypeCounts.post || 0;\n  if (blogCount < 5) {\n    warnings.push(`Scope mismatch: blog_posts enabled but only ${blogCount} blog blueprints were produced (expected at least 5).`);\n  }\n}\n\nfor (const item of items) {\n  if (!item.json || typeof item.json !== 'object') {\n    item.json = {};\n  }\n  item.json.quality_warnings = warnings;\n  item.json.page_type_counts = pageTypeCounts;\n  item.json.scope_mismatch = warnings.some(w => String(w).startsWith('Scope mismatch:'));\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        332,
        592
      ],
      "id": "29b24d00-8f11-43f0-9242-6fa44391a2cc",
      "name": "Global Completeness + Blog Gate"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -392,
        308
      ],
      "id": "f3e3b75e-3dd1-4bfe-9d2f-6631fdc2b19b",
      "name": "Test Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Research Document Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Document Gate": {
      "main": [
        [
          {
            "node": "Use Provided Research",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Research Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Generator": {
      "main": [
        [
          {
            "node": "Store Research Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Research Document": {
      "main": [
        [
          {
            "node": "Split Blueprints + Deterministic Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Provided Research": {
      "main": [
        [
          {
            "node": "Split Blueprints + Deterministic Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Trigger": {
      "main": [
        [
          {
            "node": "Callback Test Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback Test Payload": {
      "main": [
        [
          {
            "node": "Callback Test Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model (Research)": {
      "ai_languageModel": [
        [
          {
            "node": "Research Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Parse + Normalize + CTA Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deterministic FAQ Enforcement": {
      "main": [
        [
          {
            "node": "Global Completeness + Blog Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse + Normalize + CTA Guard": {
      "main": [
        [
          {
            "node": "Quality Gate + SEO Enforcement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quality Gate + SEO Enforcement": {
      "main": [
        [
          {
            "node": "Deterministic FAQ Enforcement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Blueprints + Deterministic Metadata": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Blueprint Results": {
      "main": [
        [
          {
            "node": "Attach Callback Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Callback Metadata": {
      "main": [
        [
          {
            "node": "Callback to WP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Global Completeness + Blog Gate": {
      "main": [
        [
          {
            "node": "Merge Blueprint Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "481c1684-8a77-4196-9be8-31d90ad97dcd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e7698125f99b7edfc04e061fb8ae871f717a1f808af7255fa0fa408b5043699b"
  },
  "id": "1cyCKqEIu5JIcI3W",
  "tags": []
}
